@using System.Globalization
@using AiDesigner.Client.Components.Comps
@using AiDesigner.Client.Modals;
@using NodeBaseApi.Version2;
@using Radzen.Blazor
@using AiDesigner.Client.Components
@using AiDesigner.Shared.Data
@using Newtonsoft
@using Newtonsoft.Json
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject HttpClient Http;

<div class="dark:bg-gray-600">
    <div class="" style="width: 100% !important;">
        <div style="space-between;">
            <RadzenCard class="w-full mb-4 dark:bg-gray-700 rounded-lg rz-shadow-0" Style="display: flex; align-items: center; gap: 0.5rem;">
                <div style="display: flex; gap: 0.5rem;" class="w-1/2">
                    <Dropdown @ref="dropdown" Selected="@SelectedApi" width="w-48">
@*                         <button @onclick="@(() => SelectOption(new ApiKey{Name = "All" }))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedApi == "All" ? "bg-gray-600" : "") dark:hover:bg-gray-600">All</button>
                        *@                        <button @onclick="@(() => SelectOption(new ApiKey{Name = "Account" }))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedApi == "Account" ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">Account</button>
                        @foreach (var apiKey in ApiKeys)
                        {
                            <button @onclick="@(() => SelectOption(apiKey))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedApi == apiKey.Name ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">@apiKey.Name</button>
                        }
                    </Dropdown>
                    <Dropdown @ref="programdropdown" Selected="@SelectedProgram" width="w-48">
                        <button @onclick="@(() => SelectProgram(new CustomProgram{Name = "All"}))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedProgram == "All" ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">All</button>
                        @foreach (var eap in Programs)
                        {
                            <button @onclick="@(() => SelectProgram(eap))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedProgram == eap.Name ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">@eap.Name</button>
                        }
                    </Dropdown>
                </div>
                <div style="display: flex; gap: 0.5rem; justify-content: flex-end;" class="w-1/2">
                    <div class="mt-0 flex items-center">
                        <input type="checkbox" @bind="showDataLabels" id="IsPublic" class="w-6 h-6 accent-green-600 rounded" />
                        <label for="IsPublic" class="ml-2 text-sm text-gray-700 dark:text-white">Show Labels</label>
                    </div>
                    <Dropdown @ref="timeDropdown" Selected="@SelectedTime" width="w-24">
                        <button @onclick="@(() => SelectTime("Day"))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedTime == "Day" ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">Day</button>
                        <button @onclick="@(() => SelectTime("Week"))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedTime == "Week" ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">Week</button>
                        <button @onclick="@(() => SelectTime("Month"))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedTime == "Month" ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">Month</button>
                        <button @onclick="@(() => SelectTime("Year"))" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 @(SelectedTime == "Year" ? "bg-white dark:!bg-gray-600" : "") hover:bg-white dark:hover:bg-gray-600">Year</button>
                    </Dropdown>
                </div>
            </RadzenCard>
        </div>

        <RadzenChart Style="height: 28.4rem !important;" class="dark:bg-gray-700 rounded-lg">
            <RadzenColumnSeries Data="@ShowCalls.ToArray()" CategoryProperty="Date" Title="Call Count" ValueProperty="CallCount">
                <RadzenSeriesDataLabels Visible="@showDataLabels" />
            </RadzenColumnSeries>
            <RadzenLineSeries Smooth="@smooth" Data="@ShowCalls.ToArray()" CategoryProperty="Date" Title="Tokens" ValueProperty="Revenue">
                <RadzenMarkers MarkerType="MarkerType.Circle" />
                <RadzenSeriesDataLabels Visible="@showDataLabels" />
            </RadzenLineSeries>
            <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
            @if (@ShowCalls.ToArray().All(dataItem => dataItem.Revenue == 0 || dataItem.Revenue == 0.6942))
            {
                <RadzenValueAxis Formatter="@FormatAsTokens" Min="0" Step="100" Max="500">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Tokens used" />
                </RadzenValueAxis>
            }
            else
            {
                <RadzenValueAxis Formatter="@FormatAsTokens">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Tokens used" />
                </RadzenValueAxis>
            }
        </RadzenChart>
    </div>
</div>

@code {
    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [CascadingParameter(Name = "ApiKeys")]
    public List<ApiKey> ApiKeys { get; set; }

    [CascadingParameter(Name = "EAPs")]
    public List<ProgramObject> EAPs { get; set; }

    private List<Call> Calls { get; set; }
    private List<Call> currentCalls { get; set; }

    List<DataItem> ShowCalls = new List<DataItem>();

    bool smooth = true;
    bool showDataLabels = false;

    private string SelectedApi { get; set; } = "Account";
    private Dropdown dropdown;

    private string SelectedTime { get; set; } = "Month";  // Default to Month
    private Dropdown timeDropdown;

    private string SelectedProgram { get; set; } = "All";  // Default to All
    private Dropdown programdropdown;
    private List<CustomProgram> Programs { get; set; } = new List<CustomProgram>();
    ApiKey SelectedApiKey = new ApiKey{ Name = "Account" };
    CustomProgram SelectedProgramObject = new CustomProgram { Name = "All" };

    private async Task SelectTime(string time)
    {
        timeDropdown.ToggleDropdown();
        SelectedTime = time;
        await GetCalls();
    }

    class DataItem
    {
        public string Date { get; set; }
        public double Revenue { get; set; }
        public double CallCount { get; set; }  // New property for call counts
    }

    protected override async Task OnInitializedAsync()
    {
        while (CascAuth == null || !CascAuth.User.Identity.IsAuthenticated || EAPs == null || EAPs.Count() == 0)
        {
            await Task.Delay(200);
        }
        await GetCalls();
        Programs = EAPs.OfType<CustomProgram>().ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }
    }

    private async void SelectOption(ApiKey option)
    {
        dropdown.ToggleDropdown();
        SelectedApi = option.Name;
        SelectedApiKey = option;
        await GetCalls(); // Fetch new data based on the selected API option
    }

    private async void SelectProgram(CustomProgram program)
    {
        programdropdown.ToggleDropdown();
        SelectedProgram = program.Name;
        SelectedProgramObject = program;
        await GetCalls(); // Fetch new data based on the selected program
    }

    private async Task GetCalls()
    {
        var user = CascAuth.User;
        var userIdClaim = user.Claims.FirstOrDefault()?.Value;
        if (Guid.TryParse(userIdClaim, out Guid userId))
        {
            var useId = userId.ToString();
            var useProgram = SelectedProgramObject.Id.ToString();
            if (SelectedApiKey.Name != "Account")
            {
                useId = SelectedApiKey.apiKey;
            }
            if(SelectedProgramObject.Name == "All")
            {
                useProgram = "All";
            }
            var response = await Http.GetAsync($"Chat/Call/GetAggregatedData/{useId}/{SelectedTime}/{useProgram}");
            if (response.IsSuccessStatusCode)
            {
                var responseBody = await response.Content.ReadAsStringAsync();
                var aggregatedDataList = JsonConvert.DeserializeObject<List<AggregatedData>>(responseBody);

                // Convert AggregatedData to DataItem
                ShowCalls = aggregatedDataList.Select(ad => new DataItem
                    {
                        Date = ConvertDateToString(ad),
                        Revenue = (double)ad.TotalRevenue, 
                        CallCount = (ad.CallCount * 20) + 0.6942
                    }).ToList();

                StateHasChanged();
            }
            else
            {
                // Handle error response
                // Example: Log the error, show an error message, etc.
            }
        }
    }

    private string ConvertDateToString(AggregatedData ad)
    {
        // For year-level aggregation
        if (ad.Month == null && ad.Day == null && ad.Hour == null)
        {
            return $"{ad.Year}";
        }
        // For month-level aggregation
        else if (ad.Day == null && ad.Hour == null)
        {
            return $"{ad.Year}-{ad.Month:00}";
        }
        // For day-level aggregation
        else if (ad.Hour == null)
        {
            return $"{ad.Year}-{ad.Month:00}-{ad.Day:00}";
        }
        // For hour-level aggregation (within a day)
        else
        {
            return $"{ad.Hour:00}:00";
        }
    }

    private DateTime StartOfWeek(DateTime dt, DayOfWeek startOfWeek)
    {
        int diff = (7 + (dt.DayOfWeek - startOfWeek)) % 7;
        return dt.AddDays(-1 * diff).Date;
    }

    string FormatAsTokens(object value)
    {
        double numberValue = Convert.ToDouble(value);
        if (numberValue.ToString().Contains(".6942"))
        {
            return $"{(numberValue - 0.6942) / 20}";
        }
        else
        {
            return $"{numberValue}";
        }
    }

    string FormatAsMonth(object value)
    {
        if (value != null)
        {
            switch (SelectedTime)
            {
                case "Year":
                    if (DateTime.TryParseExact(value.ToString(), "yyyy-MM", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime dateYear))
                    {
                        return dateYear.ToString("MMM");
                    }
                    break;
                case "Month":
                    if (DateTime.TryParseExact(value.ToString(), "yyyy-MM-dd", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime dateMonth))
                    {
                        return dateMonth.ToString("dd");
                    }
                    break;
                case "Week":
                    if (DateTime.TryParseExact(value.ToString(), "yyyy-MM-dd", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime dateWeek))
                    {
                        return dateWeek.ToString("dd MMM");
                    }
                    break;
                case "Day":
                    return value.ToString() + ":00";
            }
        }

        return string.Empty;
    }

    private void SetCurrentCalls()
    {
        if (Calls == null)
        {
            Console.WriteLine("Calls is null");
            return;
        }
        string selectedProgramId = null;
        if (SelectedProgram != "All")
        {
            selectedProgramId = Programs.FirstOrDefault(Program => Program.Name == SelectedProgram)?.Id.ToString();
        }

        if (SelectedApi == "All")
        {
            currentCalls = selectedProgramId != null ?
                Calls.Where(call => call.ProgramId == selectedProgramId).ToList() :
                Calls;
        }
        else if (SelectedApi == "Account")
        {
            var user = CascAuth.User;
            var userIdClaim = user.Claims.FirstOrDefault()?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                currentCalls = selectedProgramId != null ?
                    Calls.Where(call => call.ApiUserId == userId.ToString() && call.ProgramId == selectedProgramId).ToList() :
                    Calls.Where(call => call.ApiUserId == userId.ToString()).ToList();
            }
        }
        else
        {
            currentCalls = selectedProgramId != null ?
                Calls.Where(call =>
                    ApiKeys.Any(apiKey => apiKey.apiKey == call.ApiUserId && apiKey.Name == SelectedApi) &&
                    call.ProgramId == selectedProgramId
                ).ToList() :
                Calls.Where(call =>
                    ApiKeys.Any(apiKey => apiKey.apiKey == call.ApiUserId && apiKey.Name == SelectedApi)
                ).ToList();
        }

        // Logging the count of currentCalls to console
        Console.WriteLine(currentCalls.Count());
        GroupData();
    }

    private void GroupData()
    {
        ShowCalls.Clear();
        var groupedData = new List<DataItem>();

        switch (SelectedTime)
        {
            case "Year":
                var thisYearCalls = currentCalls.Where(call => call.EndTime.Value.Year == DateTime.Now.Year).ToList();

                var monthPlaceholders = Enumerable.Range(1, 12).Select(m => new DataItem
                    {
                        Date = $"{DateTime.Now.Year}-{m:00}",
                        Revenue = 0,
                        CallCount = 0.6942
                    }).ToList();

                groupedData = thisYearCalls
                    .GroupBy(call => call.EndTime.Value.ToString("yyyy-MM"))
                    .Select(group => new DataItem
                        {
                            Date = group.Key,
                            Revenue = group.Sum(call => Double.Parse(call.Cost)),
                            CallCount = (group.Count() * 10) + 0.6942
                        }).ToList();

                // Merging with placeholders
                groupedData = monthPlaceholders.Select(placeholder =>
                {
                    var actualData = groupedData.FirstOrDefault(g => g.Date == placeholder.Date);
                    return actualData ?? placeholder;
                }).OrderBy(dataItem => DateTime.ParseExact(dataItem.Date, "yyyy-MM", CultureInfo.InvariantCulture)).ToList();

                break;

            case "Month":
                var thisMonthCalls = currentCalls.Where(call => call.EndTime.Value.Year == DateTime.Now.Year && call.EndTime.Value.Month == DateTime.Now.Month).ToList();
                var daysInCurrentMonth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);

                var dayPlaceholders = Enumerable.Range(1, daysInCurrentMonth).Select(d => new DataItem
                    {
                        Date = $"{DateTime.Now.Year}-{DateTime.Now.Month:00}-{d:00}",
                        Revenue = 0,
                        CallCount = 0.6942
                    }).ToList();

                groupedData = thisMonthCalls
                    .GroupBy(call => call.EndTime.Value.ToString("yyyy-MM-dd"))
                    .Select(group => new DataItem
                        {
                            Date = group.Key,
                            Revenue = group.Sum(call => Double.Parse(call.Cost)),
                            CallCount = (group.Count() * 10) + 0.6942
                        }).ToList();

                // Merging with placeholders
                groupedData = dayPlaceholders.Select(placeholder =>
                {
                    var actualData = groupedData.FirstOrDefault(g => g.Date == placeholder.Date);
                    return actualData ?? placeholder;
                }).OrderBy(dataItem => DateTime.ParseExact(dataItem.Date, "yyyy-MM-dd", CultureInfo.InvariantCulture)).ToList();

                break;

            case "Week":
                DateTime startOfWeek = StartOfWeek(DateTime.Now, DayOfWeek.Monday);
                DateTime endOfWeek = startOfWeek.AddDays(6);

                var weekPlaceholders = Enumerable.Range(0, 7).Select(d => new DataItem
                    {
                        Date = startOfWeek.AddDays(d).ToString("yyyy-MM-dd"),
                        Revenue = 0,
                        CallCount = 0.6942
                    }).ToList();

                var thisWeekCalls = currentCalls.Where(call => call.EndTime.Value >= startOfWeek && call.EndTime.Value <= endOfWeek).ToList();

                groupedData = thisWeekCalls
                    .GroupBy(call => call.EndTime.Value.ToString("yyyy-MM-dd"))
                    .Select(group => new DataItem
                        {
                            Date = group.Key,
                            Revenue = group.Sum(call => Double.Parse(call.Cost)),
                            CallCount = (group.Count() * 10) + 0.6942
                        }).ToList();

                // Merging with placeholders
                groupedData = weekPlaceholders.Select(placeholder =>
                {
                    var actualData = groupedData.FirstOrDefault(g => g.Date == placeholder.Date);
                    return actualData ?? placeholder;
                }).OrderBy(dataItem => DateTime.ParseExact(dataItem.Date, "yyyy-MM-dd", CultureInfo.InvariantCulture)).ToList();

                break;

            case "Day":
                var todayCalls = currentCalls.Where(call => call.EndTime.Value.Date == DateTime.Today.Date).ToList();

                var hourPlaceholders = Enumerable.Range(0, 24).Select(h => new DataItem
                    {
                        Date = h.ToString("00"),
                        Revenue = 0,
                        CallCount = 0.6942
                    }).ToList();

                groupedData = todayCalls
                    .GroupBy(call => call.EndTime.Value.ToString("HH"))
                    .Select(group => new DataItem
                        {
                            Date = group.Key,
                            Revenue = group.Sum(call => Double.Parse(call.Cost)),
                            CallCount = (group.Count() * 10) + 0.6942
                        }).ToList();

                // Merging with placeholders
                groupedData = hourPlaceholders.Select(placeholder =>
                {
                    var actualData = groupedData.FirstOrDefault(g => g.Date == placeholder.Date);
                    return actualData ?? placeholder;
                }).OrderBy(dataItem => Int32.Parse(dataItem.Date)).ToList();

                break;
        }

        ShowCalls.AddRange(groupedData);
        StateHasChanged();
    }
}