@using AiDesigner.Client.Modals;
@using NodeBaseApi.Version2;
@using System.Text.Json;
@using System.Text;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavManager
@inject HttpClient Http;

<div class="p-4 h-full">
    <div class="h-2/3">
        @if (analytics != null && analytics.tutorials != null && !analytics.tutorials.Any(t => t.IsCompleted))
        {
            <h1 class="text-2xl font-bold mb-4">Getting Started</h1>
        }
        else
        {
            <h2 class="text-2xl font-bold mb-4">Tutorials</h2>
        }
        <!-- Uncompleted Tutorials Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6 dark:bg-gray-700">
            @if (analytics != null && analytics.tutorials != null)
            {
                @foreach (var tutorial in analytics.tutorials.Where(t => !t.IsCompleted).Take(6))
                {
                    <button class="relative p-2 rounded @(tutorial == currentTutorial ? "bg-gray-100 dark:bg-gray-500" : "bg-gray-200 dark:bg-gray-600") text-black dark:text-white flex items-start custom-button" @onclick="(() => HandleClick(tutorial))">
                        <!-- Image Container -->
                        <div style="width: 130px; height: 130px; position: relative; padding-left: 8rem;">
                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(tutorial.Image)}")"
                                 alt="@tutorial.Name"
                                 style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px; object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                        </div>

                        <!-- Text and Details -->
                        <div class="flex flex-col ml-3 flex-grow justify-between">
                            <!-- Name -->
                            <div class="self-start" style="margin-left: 0.2rem;">
                                <h3 class="dark:text-white text-xl">@tutorial.Name.Substring(0, Math.Min(tutorial.Name.Length, 15))</h3>
                            </div>

                            <!-- Short Text from Tutorial -->
                            <div style="text-align: left; margin-left: 0.2rem;">
                                <p class="dark:text-white" style="font-size: small;">@tutorial.Text.Substring(0, Math.Min(tutorial.Text.Length, 40))...</p>
                            </div>
                        </div>
                    </button>
                }
            }
        </div>
    </div>

    <div class="h-1/3">
        <!-- Latest Completed Tutorials Row -->
        <h2 class="text-xl font-bold mb-1">Latest Completed</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6 dark:bg-gray-700">
            @if (analytics != null && analytics.tutorials != null)
            {
                @foreach (var tutorial in analytics.tutorials.Where(t => t.IsCompleted).OrderByDescending(t => t.CompletionDate).Take(3))
                {
                    <button class="relative p-2 rounded @(tutorial == currentTutorial ? "bg-gray-100 dark:bg-gray-500" : "bg-gray-200 dark:bg-gray-600") text-black dark:text-white flex items-start custom-button" @onclick="(() => HandleClick(tutorial))">
                        <!-- Image Container -->
                        <div style="width: 130px; height: 130px; position: relative; padding-left: 8rem;">
                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(tutorial.Image)}")"
                                 alt="@tutorial.Name"
                                 style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px; object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                        </div>

                        <!-- Text and Details -->
                        <div class="flex flex-col ml-3 flex-grow justify-between">
                            <!-- Name -->
                            <div class="self-start" style="margin-left: 0.2rem;">
                                <h3 class="dark:text-white text-xl">@tutorial.Name.Substring(0, Math.Min(tutorial.Name.Length, 7))</h3>
                            </div>

                            <!-- Short Text from Tutorial -->
                            <div class="self-start" style="margin-left: 0.2rem;">
                                <p class="dark:text-white text-sm">@tutorial.Text.Substring(0, Math.Min(tutorial.Text.Length, 40))...</p>
                            </div>
                        </div>
                    </button>
                }
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "analytics")]
    public ChacheAnalytics analytics { get; set; }

    [CascadingParameter(Name = "setAnalytics")]
    public EventCallback<ChacheAnalytics> SettAnalytics { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [CascadingParameter(Name = "currentTutorial")]
    public Tutorial CascadingTutorial { get; set; }

    public Tutorial currentTutorial { get; set; }

    [CascadingParameter(Name = "setTutorial")]
    public EventCallback<Tutorial> SettTutorial { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (analytics.newsArticle == null || analytics.newsArticle.Count() == 0)
        {
            GetTutorials();
        }
        currentTutorial = CascadingTutorial;
    }

    private void HandleClick(Tutorial clickedTutorial)
    {
        currentTutorial = clickedTutorial;
        _ = SettTutorial.InvokeAsync(clickedTutorial);
    }

    private Task GetTutorials()
    {
        return AuthenticationStateProvider.GetAuthenticationStateAsync().ContinueWith(authTask =>
        {
            var user = authTask.Result.User;
            var userIdClaim = user.Claims.FirstOrDefault()?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                var responseTask = Http.GetAsync($"Tutorial/UserData/{userId}");
                responseTask.ContinueWith(response =>
                {
                    if (response.Result.IsSuccessStatusCode)
                    {
                        var contentTask = response.Result.Content.ReadAsStringAsync();
                        contentTask.ContinueWith(content =>
                        {
                            var tutorials = JsonSerializer.Deserialize<List<Tutorial>>(content.Result, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
                            SettAnalytics.InvokeAsync(new ChacheAnalytics { tutorials = tutorials });
                        });
                    }
                });
            }
        });
    }

    // bool shouldRender = true;
    // protected override bool ShouldRender()
    // {
    //     return shouldRender;
    // }
}

