@using System.Text;
@using System.Net.Http;
@using Microsoft.AspNetCore.Authorization
@using NodeBaseApi.Version2
@inject HttpClient Http;
@attribute [Authorize]

<div style="width: 83%; margin: auto; box-sizing: border-box; display: flex; justify-content: space-between;">
    <div class="flex flex-row mt-8 w-full">
        <div class="flex flex-col items-start gap-4" style="margin-bottom: 3rem; text-align: left; flex-grow: 1; margin-left: 4rem;">
            <h1 class="text-4xl font-extrabold mb-2 text-white dark:text-gray-100 leading-none">@SelectedArticle.Name</h1>

            @if (SelectedArticle.IsPublic)
            {
                <img src="@($"data:image/png;base64,{Convert.ToBase64String(SelectedArticle.Image)}")" alt="@SelectedArticle.Name" style="width: 55.687rem; height: 31rem; object-fit: cover; border-radius: 0px;" />
            }

            <p class="text-lg mb-2 text-gray-600 dark:text-gray-300 mb-4" style="width: 55.687rem; white-space: pre-wrap;">@SelectedArticle.Description</p>
        </div>

        <!-- Right section: Article details -->
        <div class="flex flex-col justify-between p-2 dark:!bg-gray-600 rounded-lg shadow-lg" style="width: 27rem; margin-bottom: 3rem; align-self: flex-start; margin-right: 4em;">
            @if (SelectedArticle != null)
            {
                <img src="@($"data:image/png;base64,{Convert.ToBase64String(SelectedArticle.ProgramImage)}")" alt="@SelectedArticle.Name" class="mb-2" style="width: 26rem; height: 26rem; object-fit: cover; border-radius: 0px;" />

                <div class="dark:!bg-gray-800 p-4 rounded mt-auto">
                    <!-- Additional Details -->
                    <h2 class="text-2xl font-semibold mb-2 text-white dark:text-gray-100">Additional Details</h2>
                    <ul class="list-disc list-inside text-gray-600 dark:text-gray-300">
                        <li style="cursor: pointer;" @onclick="() => SelectAuthor.InvokeAsync(SelectedArticle.AuthorId)">
                            <strong>Author:</strong> @SelectedArticle.AuthorName
                        </li>
                        <li><strong>Type:</strong> @SelectedArticle.Type</li>
                        <li><strong>Public:</strong> @SelectedArticle.IsPublic</li>
                        <li><strong>Created:</strong> @SelectedArticle.Created.ToShortDateString() </li>
                        <li><strong>Downloads:</strong> @SelectedArticle.Downloads</li>
                    </ul>

                    <!-- Add to Vault Button -->
                    @if(true)
                    {
                        bool isVaulted = false;
                        @if (VaultedArticles != null)
                        {
                            isVaulted = VaultedArticles.Any(x => x.Id == SelectedArticle.Id);
                        }
                        @if (isVaulted)
                        {
                            <button @onclick:stopPropagation="true" class="bg-gray-600 text-white font-bold py-2 px-4 rounded mt-4 transition duration-200 ease-in-out">✔️ Vaulted</button>
                        }
                        else
                        {
                            <button @onclick="Addtovault" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 transition duration-200 ease-in-out">
                                Add to Vault
                            </button>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>

@* <!-- Reviews -->
<div class="mt-8">
    <h2 class="text-2xl font-semibold mb-2">Reviews</h2>
    Implement reviews section here. You might loop through a list of UserArticle related to this article
</div> *@

@code {
    [Parameter]
    public WorkshopArticle SelectedArticle { get; set; }

    [Parameter]
    public List<WorkshopArticle> VaultedArticles { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [Parameter]
    public EventCallback<string> SelectAuthor { get; set; }

    protected override async Task OnParametersSetAsync()
    {

    }

    private async Task Addtovault()
    {
        var user = CascAuth.User;
        var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
        if (Guid.TryParse(userIdClaim, out Guid userId))
        {
            string requestUri = "Workshop/connect-article-to-user";
            UserArticle userArticle = new UserArticle
                {
                    ArticleId = SelectedArticle.Id,
                    UserId = userId.ToString(),
                    IsCreator = false,   //fix this  to tired now
                    Rating = 0,
                    Review = "",
                    IsFavorite = false
                };
            var response = await Http.PostAsJsonAsync(requestUri, userArticle);
            if (response.IsSuccessStatusCode)
            {
                VaultedArticles.Add(SelectedArticle);
            }
        }
    }

    private void SetRating(int newRating)
    {
        // Here you could update the rating for SelectedArticle and perform any server updates if necessary
        SelectedArticle.Rating = newRating;
    }
}
