@using System.Text;
@using System.Net.Http;
@using Microsoft.AspNetCore.Authorization
@using NodeBaseApi.Version2
@inject HttpClient Http;
@attribute [Authorize]

<div style="width: 83%; margin: auto; box-sizing: border-box; display: flex; justify-content: space-between;">
    <div class="flex flex-row mt-8 w-full">
        <div class="flex flex-col items-start gap-4" style="margin-bottom: 3rem; text-align: left; flex-grow: 1; margin-left: 4rem;">
            <h1 class="text-4xl font-extrabold mb-2 text-white dark:text-gray-100 leading-none">@SelectedArticle.Name</h1>

            @if (SelectedArticle.IsPublic)
            {
                <img src="@($"data:image/png;base64,{Convert.ToBase64String(SelectedArticle.Image)}")" alt="@SelectedArticle.Name" style="width: 55.687rem; height: 31rem; object-fit: cover; border-radius: 0px;" />
            }

            <p class="text-lg mb-2 text-gray-600 dark:text-gray-300 mb-4" style="width: 55.687rem; white-space: pre-wrap;">@SelectedArticle.Description</p>
        </div>

        <!-- Right section: Article details -->
        <div class="flex flex-col justify-between p-2 dark:!bg-gray-600 rounded-lg shadow-lg" style="width: 27rem; margin-bottom: 3rem; align-self: flex-start; margin-right: 4em;">
            @if (SelectedArticle != null)
            {
                <img src="@($"data:image/png;base64,{Convert.ToBase64String(SelectedArticle.ProgramImage)}")" alt="@SelectedArticle.Name" class="mb-2" style="width: 26rem; height: 26rem; object-fit: cover; border-radius: 0px;" />

                <div class="dark:!bg-gray-800 p-4 rounded mt-auto">
                    <!-- Additional Details -->
                    <h2 class="text-2xl font-semibold mb-2 text-white dark:text-gray-100">Additional Details</h2>
                    <div class="flex items-center">
                        @foreach (var star in RenderStars(SelectedArticle.Rating))
                        {
                            @star
                        }
                        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">@SelectedArticle.Rating</p>
                        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">out of</p>
                        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">5</p>
                    </div>

                    <ul class="list-disc list-inside text-gray-600 dark:text-gray-300">
                        <li style="cursor: pointer;" @onclick="() => SelectAuthor.InvokeAsync(SelectedArticle.AuthorId)">
                            <strong>Author:</strong> @SelectedArticle.AuthorName
                        </li>
                        <li><strong>Type:</strong> @SelectedArticle.Type</li>
                        <li><strong>Category:</strong> @SelectedArticle.SearchClass</li>
                        <li><strong>Public:</strong> @SelectedArticle.IsPublic</li>
                        <li><strong>Created:</strong> @SelectedArticle.Created.ToShortDateString() </li>
                        <li><strong>Downloads:</strong> @SelectedArticle.Downloads</li>
                    </ul>

                    <!-- Add to Vault Button -->
                    @if(true)
                    {
                        bool isVaulted = false;
                        @if (VaultedArticles != null)
                        {
                            isVaulted = VaultedArticles.Any(x => x.Id == SelectedArticle.Id);
                        }
                        @if (isVaulted)
                        {
                            <button @onclick:stopPropagation="true" class="bg-gray-600 text-white font-bold py-2 px-4 rounded mt-4 transition duration-200 ease-in-out">✔️ Vaulted</button>
                        }
                        else
                        {
                            <button @onclick="Addtovault" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 transition duration-200 ease-in-out">
                                Add to Vault
                            </button>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>

@* <!-- Reviews -->
<div class="mt-8">
    <h2 class="text-2xl font-semibold mb-2">Reviews</h2>
    Implement reviews section here. You might loop through a list of UserArticle related to this article
</div> *@

@code {
    [Parameter]
    public WorkshopArticle SelectedArticle { get; set; }

    [Parameter]
    public List<WorkshopArticle> VaultedArticles { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [Parameter]
    public EventCallback<string> SelectAuthor { get; set; }

    private List<MarkupString> RenderStars(double rating)
    {
        var stars = new List<MarkupString>();
        for (int i = 1; i <= 5; i++)
        {
            if (rating >= i)
            {
                // Full star
                stars.Add(new MarkupString("<svg style='width: 1.25rem; height: 1.25rem;' class='text-yellow-300 me-1' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 22 20'><path d='M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z'></path></svg>"));
            }
            else if (rating > i - 1)
            {
                double fillPercentage = (rating % 1) * 100; // The decimal part determines the fill percentage

                stars.Add(new MarkupString($"<svg class='text-yellow-300 me-1' style='width: 1.25rem; height: 1.25rem;' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 20'>" +
                    $"<defs>" +
                    $"<linearGradient id='grad{i}' x1='0%' y1='0%' x2='100%' y2='0%'>" +
                    $"<stop offset='{fillPercentage}%' style='stop-color:#fde047;' />" +
                    $"<stop offset='{fillPercentage}%' style='stop-color:#e4e5e9;' />" +
                    $"</linearGradient>" +
                    $"</defs>" +
                    $"<path d='M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z' fill='url(#grad{i})' />" +
                    $"</svg>"));
            }
            else
            {
                // Empty star
                stars.Add(new MarkupString("<svg style='width: 1.25rem; height: 1.25rem;' class='text-gray-300 me-1' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 22 20'><path d='M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z'></path></svg>"));
            }
        }
        return stars;
    }

    protected override async Task OnParametersSetAsync()
    {

    }

    private async Task Addtovault()
    {
        var user = CascAuth.User;
        var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
        if (Guid.TryParse(userIdClaim, out Guid userId))
        {
            string requestUri = "Workshop/connect-article-to-user";
            UserArticle userArticle = new UserArticle
                {
                    ArticleId = SelectedArticle.Id,
                    UserId = userId.ToString(),
                    IsCreator = false,   //fix this  to tired now
                    Rating = 0,
                    Review = "",
                    IsFavorite = false
                };
            var response = await Http.PostAsJsonAsync(requestUri, userArticle);
            if (response.IsSuccessStatusCode)
            {
                VaultedArticles.Add(SelectedArticle);
            }
        }
    }

    private void SetRating(int newRating)
    {
        // Here you could update the rating for SelectedArticle and perform any server updates if necessary
        SelectedArticle.Rating = newRating;
    }
}

<style>
    .star-overlay {
        position: relative;
        display: inline-block;
    }
</style>