@using Microsoft.AspNetCore.Authorization
@using NodeBaseApi.Version2;
@inject HttpClient Http;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@attribute [Authorize]

<div class="flex justify-center items-center">
    <div style="width: 83%;" class="content-center">
        <div class="flex flex-wrap gap-4 mt-8 ml-0">
            @if (Articles != null && Articles.Count > 0)
            {
                @foreach (var article in Articles)
                {
                    bool isVaulted = false;
                    if (VaultedArticles != null)
                    {
                        isVaulted = VaultedArticles.Any(x => x.Id == article.Id);
                    }
                    <button class="w-72 h-auto p-0 rounded bg-gray-200 dark:bg-gray-700 text-black dark:text-white flex flex-col items-center justify-center" @onclick="() => SetSelectedArticle(article)">
                        <!-- Add Image Here -->
@*                         <AiDesigner.Client.Components.ShowImage ImageData="article.ProgramImage"></AiDesigner.Client.Components.ShowImage>
 *@                      <img src="@($"data:image/png;base64,{Convert.ToBase64String(article.ProgramImage)}")" alt="@article.Name" style="width: 100%; height: 260px; object-fit: cover; border-radius: 4px; margin-bottom: 8px;" loading="lazy" />
                      <h1 class="w-full text-left dark:text-white mb-0 text-xl ml-4">@article.Name</h1>
                        <p class="w-full text-left dark:text-white ml-4">@article.AuthorName</p>
                        <br />
                        <hr style="width: 100%; margin-left: auto; margin-right: auto; margin-top: -1rem;">
                        <div class="flex justify-between w-full" style="margin-bottom: -1.5rem;">
                            <p class="text-left dark:text-white text-lg m-1 ml-3">@article.SearchClass</p>
                            @if(isVaulted)
                            {
                                <button @onclick:stopPropagation="true" class="bg-gray-600 text-white rounded p-1 m-1">✔️ Vaulted</button>
                            }
                            else
                            {
                                <button @onclick="() => Addtovault(article)" @onclick:stopPropagation="true" class="bg-green-600 hover:bg-green-700 text-white rounded p-1 m-1">Add to vault</button>
                            }
                        </div>
                        <br />
                    </button>
                }
            }
            else
            {
                for(int i = 0; i<20; i++ )
                {
                    <button class="w-72 h-auto p-0 rounded bg-gray-200 dark:bg-gray-700 text-black dark:text-white flex flex-col items-center justify-center">
                        <!-- Placeholder for Image -->
                        <div style="width: 100%; height: 260px; border-radius: 4px; margin-bottom: 8px;" class="bg-gray-700"></div>

                        <!-- Placeholder for Title -->
                        <div class="w-1/3 bg-gray-300 dark:bg-gray-600 h-6 mb-2 ml-4 self-start"></div>

                        <!-- Placeholder for Author Name -->
                        <div class="w-2/3 bg-gray-300 dark:bg-gray-600 h-5 ml-4 self-start"></div>

                        <br />

                        <hr style="width: 100%; margin-left: auto; margin-right: auto; margin-top: -1rem;">

                        <br />
                    </button>
                }
            }
        </div>
    </div>
</div>


<div class="flex justify-center items-center">
    <div style="width:83%;">
        <div class="flex justify-center mt-8 space-x-4 py-2 bg-gray-100 dark:bg-gray-700">
            @if (CurrentPage > 1)
            {
                <button @onclick="() => SetCurrentPage(1)" class="px-4 py-2 text-white bg-gray-600 rounded hover:!bg-gray-500">First</button>
                <button @onclick="() => SetCurrentPage(CurrentPage - 1)" class="px-4 py-2 text-white bg-gray-600 rounded hover:bg-gray-500">Previous</button>
            }

            @for (var i = Math.Max(1, CurrentPage - PageRange); i <= Math.Min(TotalPages, CurrentPage + PageRange); i++)
            {
                var pageIndex = i;
                <button @onclick="() => SetCurrentPage(pageIndex)" class="px-4 py-2 text-white @(CurrentPage == pageIndex ? "bg-gray-500" : "bg-gray-600") rounded hover:bg-gray-500">@pageIndex</button>
            }

            @if (CurrentPage < TotalPages)
            {
                <button @onclick="() => SetCurrentPage(CurrentPage + 1)" class="px-4 py-2 text-white bg-gray-600 rounded hover:bg-gray-500">Next</button>
                <button @onclick="() => SetCurrentPage(TotalPages)" class="px-4 py-2 text-white bg-gray-600 rounded hover:bg-gray-500">Last</button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<WorkshopArticle> Articles { get; set; }

    [Parameter]
    public WorkshopArticle SelectedArticle { get; set; }

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public List<WorkshopArticle> VaultedArticles { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    [Parameter]
    public EventCallback<WorkshopArticle> OnSelectedArticle { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    // Number of additional pages to show around the current page.
    private int PageRange { get; set; } = 2; // Change this value based on your requirements


    private async Task SetCurrentPage(int page)
    {
        CurrentPage = page;
        await OnPageChanged.InvokeAsync(CurrentPage);
        // If the parent component listens to this event, it can then call methods to refresh data.
    }

    private void SetSelectedArticle(WorkshopArticle article)
    {
        SelectedArticle = article;
        OnSelectedArticle.InvokeAsync(SelectedArticle);
    }

    private async Task Addtovault(WorkshopArticle article)
    {
        var user = CascAuth.User;
        var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
        if (Guid.TryParse(userIdClaim, out Guid userId))
        {
            string requestUri = "Workshop/connect-article-to-user";
            UserArticle userArticle = new UserArticle
                {
                    ArticleId = article.Id,
                    UserId = userId.ToString(),
                    IsCreator = false,   //fix this  to tired now
                    Rating = 0,
                    Review = "",
                    IsFavorite = false
                };
            var response = await Http.PostAsJsonAsync(requestUri, userArticle);
            VaultedArticles.Add(article);
        }
    }
}

