@page "/chat"
@using AiDesigner.Client.Pages.Marketplace;
@using AiDesigner.Client.Components;
@using AiDesigner.Shared.Data;
@using Microsoft.AspNetCore.Authorization;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using NodeBaseApi.Version2;
@using static AiDesigner.Client.Components.InputList;
@inject HttpClient Http
@attribute [Authorize]

<div class="flex bo" style="height: 81%;">
    <!-- Select Program box -->
    <div class="flex-shrink-0 flex flex-col dark:bg-gray-700 w-72 rounded-lg">
        @if (customPrograms != null && workshopPrograms != null)
        {
            <div class="text-center p-4 overflow-y-auto" style="height: 50%;">
                <p class="text-lg font-semibold mb-4">Your Programs</p>
                @foreach (var program in customPrograms)
                {
                    <div class="mb-2 h-12">
                        <button class="@(selectedProgram == program ? "dark:!bg-gray-600" : "dark:!g-gray-800") hover:dark:!bg-gray-600 text-white w-full h-full p-2 rounded-lg shadow hover:shadow-lg transition"
                        @onclick="() => SetSelectedProgram(program)">
                            @program.Name
                        </button>
                    </div>
                }
            </div>
            <div class="text-center p-4 overflow-y-auto" style="height: 40%;">
                <p class="text-lg font-semibold mb-4">Vaulted Programs</p>
                @foreach (var program in workshopPrograms)
                {
                    <div class="mb-2 h-12">
                        <button class="@(selectedProgram == program ? "dark:!bg-gray-600" : "dark:!g-gray-800") hover:dark:!bg-gray-600 text-white w-full h-full p-2 rounded-lg shadow hover:shadow-lg transition"
                        @onclick="() => SetSelectedProgram(program)">
                            @program.Name
                        </button>
                    </div>
                }
            </div>
        }
    </div>
    <!-- Input box -->
    <div class="flex-grow text-center p-4 pt-2 overflow-y-auto" style="max-height: 100%; max-width: 45%;">
        <p class="text-lg font-semibold mb-2">Program Inputs</p>
        @if (selectedProgram != null)
        {
            <div style="margin-top: 0rem;">
                @foreach (var input in selectedProgram.ProgramStructure.ProgramStart)
                {
                    if (input.Name == "Start")
                    {
                        continue;
                    }
                    <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                        <InputList Id="input.Id" Type="input.Type" Value="selectedProgram.ProgramStructure.InputValues[input.Id]" IsList="input.IsList" Placeholdervalue="input.Name" SendbackValue="SetValue"></InputList>
                    </div>
                }
            </div>
        }
    </div>

    <!-- Center line -->
    <div class="flex flex-col items-center h-full">
        <!-- Vertical Line -->
        <div class="bg-gray-500 w-[2px] flex-grow"></div>

        <!-- Button -->
        <div class="align-center mb-0 mt-auto">
            <button class="py-1 bg-green-600 text-white rounded mt-4 px-6 h-12 hover:bg-green-700" @onclick="ExecuteProgram">
                Execute Program
            </button>
        </div>
    </div>

    <!-- Output box -->
    <div class="flex-grow text-center p-4 pt-2">
        <p class="text-lg font-semibold mb-2">Program Outputs</p>
        @if (selectedProgram != null)
        {
            <div style="margin-top: 0rem;">
                @foreach (var output in selectedProgram.ProgramStructure.ProgramEnd)
                {
                    if (output.Name == "End")
                    {
                        continue;
                    }
                    var index = selectedProgram.ProgramStructure.ProgramEnd.IndexOf(output) - 1;
                    <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                        @switch (output.Type)
                        {
                            case NodeBaseApi.Version2.Type.Picture:
                                <p class="font-semibold">Type: Picture</p>
                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                {
                                    <img src="@($"data:image/png;base64,{Convert.ToBase64String((byte[])ProgramOutput.ToArray()[index])}")" alt="@output.Name" />
                                }
                                break;
                            case NodeBaseApi.Version2.Type.String:
                                <p class="font-semibold">Type: Text</p>
                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                {
                                    <p>@ProgramOutput.ToArray()[index]</p>
                                }
                                break;
                            case NodeBaseApi.Version2.Type.Number:
                                <p class="font-semibold">Type: Number</p>
                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                {
                                    <p>@ProgramOutput.ToArray()[index]</p>
                                }
                                break;
                            case NodeBaseApi.Version2.Type.Boolean:
                                <p class="font-semibold">Type: Boolean</p>
                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                {
                                    if (ProgramOutput.ToArray()[index].ToString() == "True")
                                    {
                                        <p>True</p>
                                    }
                                    else
                                    {
                                        <p>False</p>
                                    }
                                }
                                break;
                            case NodeBaseApi.Version2.Type.Audio:
                                <p class="font-semibold">Type: Audio</p>
                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                {
                                    <audio controls>
                                        <source src="@($"data:audio/wav;base64,{Convert.ToBase64String((byte[])ProgramOutput.ToArray()[index])}")" type="audio/wav">
                                        Your browser does not support the audio element.
                                    </audio>
                                }
                                break;
                            default:
                                <p>Unknown output type</p>
                                break;
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>


@code {
    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [CascadingParameter(Name = "Settokens")]
    protected EventCallback<int> SetTokens { get; set; }

    public CustomProgram selectedProgram { get; set; }

    public List<CustomProgram> customPrograms { get; set; }
    public List<CustomProgram> workshopPrograms { get; set; }

    JsonSerializerSettings settings = new JsonSerializerSettings
        {
            TypeNameHandling = TypeNameHandling.Auto,
            Converters = new List<JsonConverter> { new TupleConverter(), new BlockJsonConverter() },
            ContractResolver = new DefaultContractResolver
            {
                NamingStrategy = new CamelCaseNamingStrategy()
            },
            ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
            ObjectCreationHandling = ObjectCreationHandling.Replace
        };

    List<object> ProgramOutput { get; set; } = new List<object>();

    protected override async Task OnInitializedAsync()
    {

    }

    ApiService apiService = new ApiService("https://localhost:44313/");

    private async Task ExecuteProgram()
    {
        var nonNullInputValues = selectedProgram.ProgramStructure.InputValues
            .Where(kvp => kvp.Value != null)
            .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);

        if (CascAuth != null)
        {
            var user = CascAuth.User;
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                //ProgramOutput = await apiService.ExecuteProgramAsync(selectedProgram.ApiKey, nonNullInputValues, userId.ToString(), null, true);
                var url = $"Execute?programKey={selectedProgram.ApiKey}&apiKey={userId}";

                if (true)
                {
                    url += $"&isTest=true";
                }

                try
                {
                    var response = await Http.PostAsJsonAsync(url, nonNullInputValues);

                    if (response.IsSuccessStatusCode)
                    {
                        ProgramOutput = await response.Content.ReadFromJsonAsync<List<object>>();
                    }
                    else
                    {
                        Console.Error.WriteLine($"Error: {response.StatusCode}");
                    }
                }
                catch (Exception ex)
                {
                    Console.Error.WriteLine($"Exception: {ex.Message}");
                }
                await GetTokens();
            }
        }
        StateHasChanged();
    }

    private async Task GetTokens()
    {
        var user = CascAuth.User;
        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (!string.IsNullOrEmpty(userIdClaim) && Guid.TryParse(userIdClaim, out Guid userId))
            {
                try
                {
                    var response = await Http.PostAsJsonAsync<Guid>("Chat/Wallet/GetCreateWallet", userId);

                    if (response.IsSuccessStatusCode)
                    {
                        await SetTokens.InvokeAsync(await response.Content.ReadFromJsonAsync<int>());
                    }
                }
                catch (HttpRequestException ex)
                {
                    // Handle or log the HTTP request exception here...
                    Console.WriteLine($"HTTP request exception: {ex.Message}");
                }
                catch (JsonException ex)
                {
                    // Handle or log the deserialization exception here...
                    Console.WriteLine($"Failed to deserialize response: {ex.Message}");
                }
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (CascAuth != null)
        {
            var user = CascAuth.User;
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                await GetCustomPrograms(userId.ToString());
                await GetWorkshopPrograms(userId.ToString());
            }
        }
    }

    private void SetValue(InputItem inputItem)
    {
        selectedProgram.ProgramStructure.InputValues[inputItem.Id] = inputItem.Data;
    }

    private void SetSelectedProgram(CustomProgram customProgram)
    {
        selectedProgram = customProgram;

        foreach (var input in selectedProgram.ProgramStructure.ProgramStart)
        {
            if (!selectedProgram.ProgramStructure.InputValues.ContainsKey(input.Id))
            {
                selectedProgram.ProgramStructure.InputValues[input.Id] = selectedProgram.ProgramStructure.InputValues.ContainsKey(input.Id)
                    ? selectedProgram.ProgramStructure.InputValues[input.Id]
                    : null;
            }
        }
        foreach (var input in selectedProgram.ProgramStructure.ProgramEnd)
        {
            if (!selectedProgram.ProgramStructure.OutputValues.ContainsKey(input.Id))
            {
                selectedProgram.ProgramStructure.OutputValues[input.Id] = selectedProgram.ProgramStructure.OutputValues.ContainsKey(input.Id)
                    ? selectedProgram.ProgramStructure.OutputValues[input.Id]
                    : null;
            }
        }
    }

    private async Task GetCustomPrograms(string userId)
    {
        string requestUri = $"Chat/Programs/{userId}";
        HttpResponseMessage httpResponse = await Http.GetAsync(requestUri);
        if (httpResponse.IsSuccessStatusCode && customPrograms == null)
        {
            string content = await httpResponse.Content.ReadAsStringAsync();
            customPrograms = JsonConvert.DeserializeObject<List<CustomProgram>>(content, settings);
            //Console.WriteLine("Programs: " + content);
        }
        else
        {
            Console.WriteLine($"Failed to fetch custom programs. Status code: {httpResponse.StatusCode}");
        }
    }

    private async Task GetWorkshopPrograms(string userId)
    {
        string requestUri = $"Chat/Workshop/{userId}";
        HttpResponseMessage httpResponse = await Http.GetAsync(requestUri);
        if (httpResponse.IsSuccessStatusCode && workshopPrograms == null)
        {
            string content = await httpResponse.Content.ReadAsStringAsync();
            workshopPrograms = JsonConvert.DeserializeObject<List<CustomProgram>>(content, settings);
            //Console.WriteLine("WPrograms: " + content);
        }
        else
        {
            Console.WriteLine($"Failed to fetch workshop programs. Status code: {httpResponse.StatusCode}");
        }
    }

    private async Task OnSingleFileChanged(InputFileChangeEventArgs e, Guid id)
    {
        var file = e.File;
        string[] imageTypes = new[] { "image/jpeg", "image/png" };

        if (file != null && imageTypes.Contains(file.ContentType))
        {
            // Resizing the image
            var resized = await file.RequestImageFileAsync(file.ContentType, 260, 260);

            var buffer = new byte[resized.Size];
            await using var stream = resized.OpenReadStream((int)resized.Size);
            await stream.ReadAsync(buffer, 0, (int)resized.Size);

            selectedProgram.ProgramStructure.InputValues[id] = buffer;
        }
    }

    private async Task OnSingleAudioFileChanged(InputFileChangeEventArgs e, Guid inputId)
    {
        var file = e.File;
        if (file != null)
        {
            using (var ms = new MemoryStream())
            {
                await file.OpenReadStream().CopyToAsync(ms);
                var bytes = ms.ToArray();
                // Now 'bytes' is a byte array you can use.
                selectedProgram.ProgramStructure.InputValues[inputId] = bytes;
            }
        }
    }
}
