@page "/editor"
@inject IJSRuntime JSRuntime
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json.Serialization;
@using NodeBaseApi.Version2
@using Microsoft.AspNetCore.Authorization
@using System.Text;
@inject HttpClient Http
@attribute [Authorize]
@using AiDesigner.Client.Modals
@using AiDesigner.Client.Components
@using System.Reflection;
@using System.Collections;
@using System.Runtime.Serialization.Formatters.Binary;
@using System.IO;
@using AiDesigner.Shared.Data;
@using System.Diagnostics;
@using AiDesigner.Client.Components.Chat;
@using AiDesigner.Client.Components.EditorLibrary
@using static AiDesigner.Client.Components.Chat.InputList
@inject TooltipService tooltipService
@inject NavigationManager MyNavigationManager

@if (localProgram != null)
{
    <AiDesigner.Client.Modals.ExacuteProgramNobtn @ref="epnb" AP="localProgram"></AiDesigner.Client.Modals.ExacuteProgramNobtn>
    <AddInput @ref="api" OnNewOutputCreated="AddProgramInput" />
    <AddOutput @ref="apo" OnNewOutputCreated="AddProgramOutput" />
    <AddVariable @ref="apv" OnNewOutputCreated="AddProgramVariable" />
@*    <BlockSelector SendBack="HandleButtonSelection" />*@
}

<div class="editor-layout dark:bg-gray-800">
    <!-- Navbar -->
    <div class="navbar bg-gray-500 dark:bg-gray-700 text-white px-5 py-2 border-gray-300 dark:border-gray-600">
        <div class="flex justify-between items-center">
            <button class="mx-1 py-1 px-2 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none @(Saving ? "bg-gray-500" : Saved ? "bg-green-600" : "bg-gray-500") hover:bg-gray-700"
                    @onclick="SaveProgram"
                    disabled="@(Saving || Saved)">
                @if (Saving)
                {
                    <span><i class="fas fa-spinner fa-spin"></i></span> <!-- Loading symbol -->
                }
                else if (Saved)
                {
                    <span><i class="fas fa-check"></i></span> <!-- Checkmark symbol -->
                }
                else
                {
                    <span>Save</span>
                }
            </button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="ExecuteProgram">Execute</button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="BuildProgram">Build</button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="UndoAction">Undo</button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="RedoAction">Redo</button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="ZoomIn">+</button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="ZoomOut">-</button>
@*            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="CopyBlock">Copy</button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="CutBlock">Cut</button>
            <button class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" @onclick="PasteBlock">Paste</button>*@
            <a class="mx-1 py-1 px-2 bg-gray-500 hover:bg-gray-700 text-white text-sm font-semibold rounded-lg shadow-md focus:outline-none" href="/documentation/help/troubleshooting">Help</a>
@*             <div class="w-full content-end py-1">
                <input type="number"
                       class="w-10 p-1 border rounded dark:bg-gray-600 dark:text-white outline-none border-0"
                       min="1"
                       max="25"
                       value="5"
                @onchange="(ChangeEventArgs e) => SetGridSize(e)" />
            </div> *@
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content flex flex-grow">
        <div id="left-side" class="resizable-x left-side bg-gray-200 dark:bg-gray-700 overflow-auto" style="width: 16.666667%; max-height: 78.4vh;">
            <div class="config-box p-0 border-b border-gray-300 dark:border-gray-600" style="overflow-y: auto;">
                <!-- Program configs -->
                <p class="dark:bg-gray-700 border-gray-700 w-full align-top px-1">Settings</p>
                @if(localProgram != null)
                {
                <div class="flex justify-center">
                    <div class="@((localProgram is CustomProgram) ? "w-1/2" : "w-2/5") p-4 rounded-lg bg-gray-100 dark:bg-gray-700 mx-2 w-full">
                            <div class="mt-1">
                            <label for="name" class="block text-sm font-medium text-gray-700 dark:text-white">Name</label>
                            <input @bind="localProgram.Name" type="text" id="name" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0 outline-none" placeholder="Name" />
                        </div>
                        <div class="mt-1">
                            <label for="description" class="block text-sm font-medium text-gray-700 dark:text-white">Description</label>
                            <textarea @bind="localProgram.Description" id="description" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0 outline-none" placeholder="Description"></textarea>
                        </div>
                        <div class="mt-1">
                            <label for="IsPublic" class="block text-sm font-medium text-gray-700 dark:text-white">Is public</label>
                            <div class="mt-1">
                                    <input type="checkbox" @bind="localProgram.IsPublic" id="IsPublic" class="w-4 h-4 accent-green-600 rounded" />
                                <label for="IsPublic" class="ml-2 text-sm text-gray-700 dark:text-white">Enabled</label>
                            </div>
                        </div>
                        @if (localProgram is CustomProgram)
                        {
                            <label for="SupportsSessions" class="block text-sm font-medium text-gray-700 dark:text-white">Supports sessions</label>
                            <div class="mt-1">
                                    <input type="checkbox" @bind="localProgram.SupportsSessions" id="SuportSession" class="w-4 h-4 accent-green-600 rounded" />
                                <label for="SuportSession" class="ml-2 text-sm text-gray-700 dark:text-white">Enabled</label>
                            </div>
                            <label for="SupportsChat" class="block text-sm font-medium text-gray-700 dark:text-white">Supports chat</label>
                                <div class="mt-1">
                                    <input type="checkbox"
                                           checked="@localProgram.SupportsChat"
                                           @onchange="HandleChange"
                                           id="SupportsChat"
                                           class="w-4 h-4 accent-green-600 rounded" />
                                    <label for="SupportsChat" class="ml-2 text-sm text-gray-700 dark:text-white">Enabled</label>
                                </div>

                            <div class="mt-1">
                                <label for="apiKey" class="block text-sm font-medium text-gray-700 dark:text-white">API Key</label>
                                <input type="text" @bind="((CustomProgram)localProgram).ApiKey" id="apiKey" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-gray-300 outline-none border-0" readonly />
                            </div>
                        }
                    </div>
                </div>
                }
            </div>
            <div class="variable-list p-0 border-b border-gray-300 dark:border-gray-600" style="overflow-y: auto;">
                <!-- The Variables -->
                <div class="flex justify-between items-center px-1 dark:bg-gray-700 border-gray-700 w-full align-top">
                    <p>Variables</p>
                    @if (localProgram != null)
                    {
                        <button @onclick="Openapv" class="dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 px-4 rounded text-2xl">+</button>
                    }
                </div>
                @if (localProgram != null)
                {
                    @foreach (var Variable in localProgram.ProgramStructure.Variables)
                    {
                        <div class="mx-8 relative button-hover">
                            <!-- Add the hover class here -->
                            <!-- Main Button -->
                            <button @onclick="() => SelectVariable(Variable.Value)" class="dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 py-2 rounded w-full flex justify-between items-center border-b border-gray-600">
                                <span class="overflow-hidden ml-2 text-start w-50 text-lg">@Variable.Value.Name</span>
                                <div class="flex overflow-hidden items-end mr-1 w-50">
                                    @if (Variable.Value.IsList)
                                    {
                                        <p>List of: </p>
                                    }
                                    <p>@Variable.Value.Type</p>
                                </div>

                                <!-- Remove Button - Initially Hidden, Shown on Hover -->
                                <button @onclick="() => RemoveVariable(Variable.Key)"
                                class="absolute top-0 right-0 p-0 m-1 text-gray-700 dark:text-gray-300 hover:text-black dark:hover:text-white close-button">
                                    X
                                </button>
                            </button>
                        </div>
                    }
                }
            </div>
        </div>

        <div id="middle-content" class="middle-content flex-grow bg-white dark:bg-gray-900 p-0 overflow-auto">
            <div id="whiteboard-content" class="bg-gray-500 dark:bg-gray-500 text-white py-3" style="width: 100%; height: 100%;">
                <div id="whiteboard" class="whiteboard" @oncontextmenu="ShowContextMenu">
                    <div id="canvas" class="canvas">
                        <div id="connection-layer" style="position: relative; z-index: 22; ">
                        </div>
                        @if (localProgram != null)
                        {
                            <div id="Input" class="node" style="left: @(localProgram.ProgramStructure.ProgramStartLocation.Item1.ToString()+"px"); top: @(localProgram.ProgramStructure.ProgramStartLocation.Item2.ToString()+"px");">
                                <div class="top-part dark:bg-gray-600">
                                    <span style="margin-left: 10px;">Input</span>
                                </div>
                                <div class="main-part dark:bg-gray-700">
                                    <div class="left-part">
                                         <!--Left side content-->
                                    </div>
                                    <div class="right-part">
                                        @foreach (var output in localProgram.ProgramStructure.ProgramStart.Select((value, index) => new { Value = value, Index = index }))
                                        {
                                            if (output.Value.Name == "Chat History")
                                            {
                                                if (localProgram.SupportsChat)
                                                {
                                                    <div class="node-output d-flex"
                                                    @onmouseenter='() => ShowTooltip(inputElementReferences.TryGetValue(output.Value.Id.ToString(), out var elementRef) ? elementRef : new ElementReference(), null, output.Value)'>
                                                        <span class="small-font">
                                                            @output.Value.Name
                                                        </span>
                                                        <div id="@output.Value.Id" class="@GetShape(output.Value.Type.ToString(), output.Value.IsList) @GetColor(output.Value.Type.ToString()) Connection" @onclick="() => SelectOutput(output.Value)"></div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="node-output d-flex"
                                                @onmouseenter='() => ShowTooltip(inputElementReferences.TryGetValue(output.Value.Id.ToString(), out var elementRef) ? elementRef : new ElementReference(), null, output.Value)'>
                                                    <span class="small-font">
                                                        @output.Value.Name
                                                        @if (output.Index > 1)
                                                        {
                                                            <text>&#8203;</text>
                                                        }
                                                    </span>
                                                    <div id="@output.Value.Id" class="@GetShape(output.Value.Type.ToString(), output.Value.IsList) @GetColor(output.Value.Type.ToString()) Connection" @onclick="() => SelectOutput(output.Value)"></div>
                                                </div>
                                            }
                                        }
                                        @if (localProgram.ProgramStructure.ProgramStart.Count() == 0)
                                        {
                                            <hr style="border-top: none; height: 10px; background-color: transparent;" />
                                        }
                                        <div class="node-output d-flex">
                                            <button @onclick="Openapi" class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                                Add input
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Output" class="node" style="left: @(localProgram.ProgramStructure.ProgramEndLocation.Item1.ToString()+"px"); top: @(localProgram.ProgramStructure.ProgramEndLocation.Item2.ToString()+"px");">
                                <div class="top-part dark:bg-gray-600">
                                        <span style="margin-left: 10px;">Output</span>
                                </div>
                                <div class="main-part dark:bg-gray-700">
                                    <div class="left-part">
                                        @foreach (var input in localProgram.ProgramStructure.ProgramEnd.Select((value, index) => new { Value = value, Index = index }))
                                        {
                                            <div class="node-input d-flex"
                                                @onmouseenter='() => ShowTooltip(inputElementReferences.TryGetValue(input.Value.Id.ToString(), out var elementRef) ? elementRef : new ElementReference(), input.Value )'>
                                                <div id="@input.Value.Id" class="@GetShape(input.Value.Type.ToString(), input.Value.IsList) @GetColor(input.Value.Type.ToString()) Connection" @onclick="() => TryConnect(input.Value)"></div>
                                                <span class="small-font">
                                                    @input.Value.Name
                                                    @if (input.Index != 0) 
                                                    {
                                                        <text>&#8203;</text>
                                                    }
                                                </span>
                                            </div>
                                        }
                                        @if (localProgram.ProgramStructure.ProgramEnd.Count() == 0)
                                        {
                                            <hr style="border-top: none; height: 10px; background-color: transparent;" />
                                        }
                                        <button @onclick="Openapo" class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                            Add output
                                        </button>
                                    </div>
                                    <div class="right-part">
                                        <!--Right side content-->
                                    </div>
                                </div>
                            </div>
                            @foreach (var node in localProgram.ProgramStructure.ProgramBlocks)
                            {
                                <div id="@node.Id" class="node" style="left: @(node.X.ToString().Replace("−", "-") + "px"); top: @(node.Y.ToString().Replace("−", "-") + "px");" @onclick="(() => SelectNode(node))">
                                    <div class="top-part dark:bg-gray-600">
                                        <div style="display: inline-block; margin-left: 10px;" class="w-full">
                                            <span>@node.Block.Name</span>
                                            @if (node.Block.Name == "Get Variable")
                                            {
                                                <div style="width: calc(100%); margin-left: -0.6rem; padding-right: 0.02rem;">
                                                    <select @bind-value="node.VariableId" @bind-value:event="oninput" @onchange="((ChangeEventArgs e) => UpdateType(node, localProgram.ProgramStructure.Variables[node.VariableId].Type, -1, 0, localProgram.ProgramStructure.Variables[node.VariableId].IsList))" class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                        <option value="@Guid.Empty"disabled selected hidden>Select Variable</option>
                                                        @foreach (var Variable in localProgram.ProgramStructure.Variables)
                                                        {
                                                            <option value="@Variable.Value.Id">@Variable.Value.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            }
                                            @if (node.Block.Name == "Set Variable")
                                            {
                                                <div style="width: calc(100%); margin-left: -0.6rem; padding-right: 0.02rem;">
                                                    <select @bind-value="node.VariableId" @bind-value:event="oninput" @onchange="((ChangeEventArgs e) => UpdateType(node, localProgram.ProgramStructure.Variables[node.VariableId].Type, 1, -1, localProgram.ProgramStructure.Variables[node.VariableId].IsList))" class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                        <option value="@Guid.Empty" disabled selected hidden>Select Variable</option>
                                                        @foreach (var Variable in localProgram.ProgramStructure.Variables)
                                                        {
                                                            <option value="@Variable.Value.Id">@Variable.Value.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            }
                                            @if (node.Block.Name == "For Loop")
                                            {
                                                <div style="width: calc(100%); margin-left: -0.6rem; padding-right: 0.02rem;">
                                                    @if (node.Block.Outputs[1].Type != null)
                                                    {
                                                        <select @bind-value="node.Block.Outputs[1].Type" @bind-value:event="oninput" @onchange="((ChangeEventArgs e) => UpdateType(node, e.Value))" class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                            <option value="String">String</option>
                                                            <option value="Picture">Picture</option>
                                                            <option value="Number">Number</option>
                                                            <option value="Boolean">Boolean</option>
                                                            <option value="Audio">Audio</option>
                                                            <option value="Object">Object</option>
                                                        </select>
                                                    }
                                                </div>
                                            }
                                            @if (node.Block.Name == "Set Item" || node.Block.Name == "Get Item" || node.Block.Name == "Add Item" || node.Block.Name == "Remove Item" || node.Block.Name == "Find Item")
                                            {
                                                <div style="width: calc(100%); margin-left: -0.6rem; padding-right: 0.02rem;">
                                                    <select @bind-value="node.Block.Inputs[0].Type" @bind-value:event="oninput" @onchange="((ChangeEventArgs e) => UpdateBlockType(node, e.Value))" class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                        <option value="String">String</option>
                                                        <option value="Picture">Picture</option>
                                                        <option value="Number">Number</option>
                                                        <option value="Boolean">Boolean</option>
                                                        <option value="Audio">Audio</option>
                                                        <option value="Object">Object</option>
                                                    </select>
                                                </div>
                                            }
                                            @if (node.Block.Name == "Select")
                                            {
                                                <div style="width: calc(100%); margin-left: -0.6rem; padding-right: 0.02rem;">
                                                    <select @bind-value="node.Block.Inputs[1].Type" @bind-value:event="oninput" @onchange="((ChangeEventArgs e) => UpdateBlockType(node, e.Value))" class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                        <option value="String">String</option>
                                                        <option value="Picture">Picture</option>
                                                        <option value="Number">Number</option>
                                                        <option value="Boolean">Boolean</option>
                                                        <option value="Audio">Audio</option>
                                                        <option value="Object">Object</option>
                                                    </select>
                                                </div>
                                            }
                                            @if (node.Block.Name == "Custom Block")
                                            {
                                                <div style="width: calc(100%); margin-left: -0.6rem; padding-right: 0.03rem;">
                                                    @if (localProgram != null && localProgram.ProgramStructure.CustomPrograms.ContainsKey(node.Id))
                                                    {
                                                        <select @bind-value="localProgram.ProgramStructure.CustomPrograms[node.Id].Id"
                                                                @bind-value:event="oninput"
                                                                @onchange="((ChangeEventArgs e) => SelectCustomBlock(node, e.Value.ToString()))"
                                                                class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                            <option value="@Guid.Empty" disabled selected hidden>Select block</option>
                                                            @foreach (var CustomBlock in EAPs.Where(eap => eap is CustomBlockProgram))
                                                            {
                                                                <option value="@CustomBlock.Id">@CustomBlock.Name</option>
                                                            }
                                                            @foreach (WorkshopArticle WorkshopCustomBlock in workshopArticles.Where(wcb => wcb.Type == "CustomBlock"))
                                                            {
                                                                <option value="@WorkshopCustomBlock.ProgramId">@WorkshopCustomBlock.Name.</option>
                                                            }

                                                        </select>
                                                    }
                                                    else if (localProgram != null)
                                                    {
                                                        <select @onchange="((ChangeEventArgs e) => SelectCustomBlock(node, e.Value.ToString()))"
                                                                class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                            <option value="@Guid.Empty" disabled selected hidden>Select block</option>
                                                            @foreach (var CustomBlock in EAPs.Where(eap => eap is CustomBlockProgram))
                                                            {
                                                                <option value="@CustomBlock.Id">@CustomBlock.Name</option>
                                                            }
                                                        </select>
                                                    }
                                                </div>
                                            }
                                            @if (node.Block.Name == "GPT Block")
                                            {
                                                if(node != null)
                                                {
                                                <div style="width: calc(100%); margin-left: -0.6rem; padding-right: 0.02rem;">
                                                    <select @bind-value="node.VariableId" @bind-value:event="oninput" class="w-full p-2 border dark:bg-gray-700 dark:text-white outline-none border-0">
                                                        <option value="00000000-0000-0000-0000-000000000000">Default Model</option>
                                                        <option value="10000000-0000-0000-0000-000000000000">ChatGPT Turbo</option>
                                                        <option value="20000000-0000-0000-0000-000000000000">Davinci Text</option>
                                                        <option value="30000000-0000-0000-0000-000000000000">Davinci Code</option>
                                                        <option value="40000000-0000-0000-0000-000000000000">GPT4</option>
                                                        <option value="50000000-0000-0000-0000-000000000000">GPT4 32k Context</option>
                                                        <option value="60000000-0000-0000-0000-000000000000">Ada Text</option>
                                                        <option value="70000000-0000-0000-0000-000000000000">Ada Text Embedding</option>
                                                        <option value="80000000-0000-0000-0000-000000000000">Babbage Text</option>
                                                        <option value="90000000-0000-0000-0000-000000000000">Text Moderation Latest</option>
                                                    </select>
                                                </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="main-part dark:bg-gray-700">
                                        <div class="left-part">
                                            <!-- Left part content goes here -->
                                            @foreach (var input in node.Block.Inputs)
                                            {
                                                <div class="node-input d-flex"
                                                     @ref="inputElementReferences[input.Id.ToString()]"
                                                     @onmouseenter='() => ShowTooltip(inputElementReferences.TryGetValue(input.Id.ToString(), out var elementRef) ? elementRef : new ElementReference(), input)'
                                                     @onmouseleave="HideTooltip">
                                                    <div id="@input.Id"
                                                         class="@GetShape(input.Type.ToString(), input.IsList) @GetColor(input.Type.ToString()) Connection"
                                                         @onclick="() => TryConnect(input)">
                                                    </div>
                                                    @if (input.Name.Contains(" &#8203;"))
                                                    {
                                                        <span class="small-font">@input.Name.Replace(" &#8203;", "\u200B")</span>
                                                    }
                                                    else{
                                                        <span class="small-font">@input.Name</span>
                                                    }
                                                </div>
                                            }
                                            @if (node.Block.Name == "Select")
                                            {
                                                <button @onclick='() => AddSelectInput(node, "Input for case")' class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                                    Add input
                                                </button>
                                            }
                                            @if (node.Block.Name == "Concatenation")
                                            {
                                                <button @onclick='() => AddSelectInput(node, "String" )' class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                                    Add input
                                                </button>
                                            }
                                            @if (node.Block.Name == "And Block")
                                            {
                                                <button @onclick='() => AddSelectInput(node, "Input")' class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                                    Add input
                                                </button>
                                            }
                                            @if (node.Block.Name == "Combine Objects")
                                            {
                                                <button @onclick='() => AddSelectInput(node, "Object")' class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                                    Add input
                                                </button>
                                            }
                                            @if (node.Block.Name == "Or Trigger")
                                            {
                                                <button @onclick='() => AddSelectInput(node, "Trigger")' class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                                    Add input
                                                </button>
                                            }
                                            
                                        </div>
                                        <div class="right-part">
                                            <!-- Right part content goes here -->
                                            @foreach (var output in node.Block.Outputs)
                                            {
                                                <div class="node-output d-flex"
                                                     @ref="outputElementReferences[output.Id.ToString()]"
                                                     @onmouseenter='() => ShowTooltip(outputElementReferences.TryGetValue(output.Id.ToString(), out var elementRef) ? elementRef : new ElementReference(), null, output)'
                                                     @onmouseleave="HideTooltip">
                                                    <span class="small-font">@output.Name</span>
                                                    <div id="@output.Id"
                                                         class="@GetShape(output.Type.ToString(), output.IsList) @GetColor(output.Type.ToString()) Connection"
                                                         @onclick="() => SelectOutput(output)">
                                                    </div>
                                                </div>
                                            }
                                            @if (node.Block.Name == "Switch")
                                            {
                                                <div class="node-output d-flex">
                                                    <button @onclick="() => AddSwitchOutput(node)" class="px-1 text-sm small-font text-white bg-gray-600 hover:bg-gray-700 rounded-md d-flex" type="button">
                                                        Add case
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div id="error-shower" class="flex-auto bg-gray-800 dark:bg-gray-800 text-white py-3 mt-auto">
                <!-- Error Shower Content -->
                Error handeling is not implemented yet / not good
@*                 @foreach (var x in Errors)
                {
                    <p class="text-white px-4" >@x</p>
                } *@
            </div>
        </div>

        <div id="right-side" class="resizable-x right-side w-2/12 bg-gray-200 dark:bg-gray-700 h-fill mb-9" style="max-height: 78.4vh; width: 16.666667%;">
            <div class="details-box p-0 border-b border-gray-300 dark:border-gray-600 h-full" style="max-height: 78.4vh; overflow-y: auto;">
        <p class="dark:bg-gray-700 border-gray-700 w-full align-top px-1">Details</p>
                <!-- Block Settings Content -->
                @if (SelectedDetail is ProgramBlock programBlock)
                {
                    <div class="p-1">
                        <h4 class="mt-0">Inputs</h4>
                        @foreach (var (input, index) in programBlock.Block.Inputs.Select((value, idx) => (value, idx)))
                        {
                            <div class="align-top">
                                @if (localProgram != null)
                                {
                                    bool isInputInDirectInputs = localProgram.ProgramStructure.DirectInputValues.ContainsKey(input.Id);

                                    bool isValueEmpty = true;
                                    // Safely get value from DirectInputValues
                                    if (localProgram.ProgramStructure.DirectInputValues.TryGetValue(input.Id, out var directValue))
                                    {
                                        isValueEmpty = string.IsNullOrEmpty(directValue?.ToString());
                                    }

                                    bool isInputConnectedToProgramInput = localProgram.ProgramStructure.InputValues.ContainsKey(input.Id);

                                    bool isInputConnectedToAnotherBlock = false;

                                    // Check if programBlock.Inputs has a value at the same index
                                    if (programBlock.Inputs != null && index < programBlock.Inputs.Count && programBlock.Inputs[index] != Guid.Empty)
                                    {
                                        isInputConnectedToAnotherBlock = true;
                                    }

                                    // Only show the input field if:
                                    // 1. It's not connected to another block's output
                                    // 2. It's not connected to a program input
                                    // 3. It's in DirectInputValues, or its value is empty
                                    if (!isInputConnectedToAnotherBlock && !isInputConnectedToProgramInput && (isInputInDirectInputs || isValueEmpty))
                                    {
                                        if(input.Name != "Trigger")
                                        {
                                            <label class="text-gray-200">@input.Name.Replace("&#8203; ", ""):</label>
                                        }

                                        // If the input doesn't exist in DirectInputValues, initialize it
                                        if (!isInputInDirectInputs)
                                        {
                                            localProgram.ProgramStructure.DirectInputValues[input.Id] = new object();
                                        }
                                        else
                                        {
                                            //Console.WriteLine("Direct input value: " + customProgram1.ProgramStructure.DirectInputValues[input.Id]);
                                        }

                                        if (input.Name != "Trigger")
                                        {
                                            <!-- Styling the text input for dark mode using Tailwind -->
                                            <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                                <InputList Id="input.Id" Type="input.Type" Value="localProgram.ProgramStructure.DirectInputValues[input.Id]" IsList="input.IsList" SendbackValue="SetValue"></InputList>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        }
                    </div>
                }
                @if (SelectedDetail is Variable variable)
                {
                    <div class="p-4">
                        <label>Name:</label>
                        <div class="mb-2">
                            <input type="text" @bind="@variable.Name" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0" placeholder="@variable.Name" />
                        </div>

                        <label>Description:</label>
                        <div class="mb-2">
                            <textarea @bind="@variable.Description" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0" placeholder="@variable.Description"></textarea>
                        </div>

                        @if(localProgram.SupportsSessions)
                        {
                            <label class="w-100">Is Session Variable:</label>
                            <input id="IsSession" type="checkbox" @bind="variable.IsSessionVariable" class="w-6 h-6 accent-green-600 rounded ml-1" />
                        }

                        <label class="w-100">Variable Default Value:</label>
                        <!-- Styling the text input for dark mode using Tailwind -->
                        <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                            <InputList Id="variable.Id" Type="variable.Type" Value="variable.Value" IsList="variable.IsList" SendbackValue="SetVarValue"></InputList>
                        </div>
                    </div>
                }
            </div>
            <div class="no-thing p-4">
                <!-- not sure yet -->
            </div>
        </div>
    </div>
</div>

<ContextMenu OnMenuItemClick="AddBlockToWhiteboard" />
<RemoveInputContextItem OnMenuItemClick="RemovePort" />

<style>
    .close-button {
        display: none;
    }

    .button-hover:hover .close-button {
        display: block;
    }

    .whiteboard {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(0,0,0,0.1) 2px, transparent 2px), linear-gradient(rgba(0,0,0,0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px), linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px);
        background-size: @GenerateBackgroundSizeStyle();
        overflow: hidden;
        cursor: move;
    }

    .node {
        min-width: 150px;
        max-width: 300px;
        min-height: 60px;
        border: 0px solid #666;
        background-color: transparent;
        position: absolute;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 10px;
        z-index: 1;
    }

    .top-part {
        width: 100%;
        height: 20%;
        border-top-left-radius: 10px; /* top left corner */
        border-top-right-radius: 10px; /* top right corner */
    }

    .main-part {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        border-bottom-right-radius: 10px; /* bottom right corner */
        border-bottom-left-radius: 10px; /* bottom left corner */
    }

    .left-part {
        width: 50%;
        border-bottom-left-radius: 10px;  /* bottom left corner */
    }

    .right-part {
        /* Style for right part */
        width: 50%; /* Adjust as needed */
        border-bottom-right-radius: 10px; /* bottom right corner */
    }

    .editor-layout {
        display: flex;
        flex-direction: column;
        height: 90vh;
        overflow: hidden;
    }

    .left-side,
    .middle-content,
    .right-side {
        height: 100%;
        overflow: hidden;
@*        position: relative;*@
    }

    .resizable-y::after,
    .resizable-x::after {
        content: "";
        position: absolute;
        z-index: 1;
        background: #4a5568;
        cursor: ns-resize;
    }

    .resizable-y::after {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
    }

    .resizable-x::after {
        right: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        cursor: ew-resize;
    }

    .resizable-x, .resizable-y {
        box-sizing: border-box;
    }

    .middle-content {
        display: flex;
        flex-direction: column;
    }

/*    #middle-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }*/

    #error-shower {
        width: 100%;
        max-height: 100px;
        margin-top: auto;
        overflow: hidden;
    }

    #canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    .shape-trigger {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 14px solid gray; 
        margin: 3px;
    }

    .shape-circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 3px;
    }

    .shape-square {
        width: 14px;
        height: 14px;
        margin: 3px;
    }

    .shape-list {
        width: 16px;
        height: 16px;
        margin: 3px;
        background-image: linear-gradient(90deg, #000 1px, transparent 1px), linear-gradient(#000 1px, transparent 1px);
        background-size: 5px 5px;
    }

    .color-string {
        background-color: #008000; /* Green */
    }

    .color-picture {
        background-color: #0000ff; /* ??? */
    }

    .color-number {
        background-color: #ffa500; /* light blue */
    }

    .color-boolean {
        background-color: #f00; /* red */
    }

    .color-audio {
        background-color: #800080; /* Purple */
    }

    .color-object {
        background-color: #f5f5dc; /* Beige */
    }

    .color-default {
        background-color: #000000; /* Black */
    }

    .small-font {
        font-size: 12px;
        margin: 3px;
    }

    .d-flex {
        display: flex;
    }

    .node-input{
        float: left;
        margin-left: 0px;
    }

    .node-output{
        float: right;
        margin-right: 0px;
    }


</style>

@code {
    [CascadingParameter(Name = "AP")]
    public ProgramObject APO { get; set; }

    [CascadingParameter(Name = "EAPs")]
    public List<ProgramObject> EAPs { get; set; }

    [CascadingParameter(Name = "WorkshopArticles")]
    public List<WorkshopArticle> workshopArticles { get; set; }

    private int _currentHistoryIndex = -1;
    private const int MaxHistoryLength = 30; // Adjust this value as per your needs
    private ProgramObject _localProgram;
    public float zoomvalue { get; set; } = 1;
    public object SelectedDetail { get; set; }
    public ProgramBlock SelectedBlock { get; set; }

    public Output SelectedOutput { get; set; }

    ElementReference defaultReference = new ElementReference();

    public Tuple<double, double> LastMouseLocation { get; set; } = new Tuple<double, double>(0, 0);

    //modals
    private ExacuteProgramNobtn epnb { get; set; }
    private AddInput api { get; set; }
    private AddOutput apo { get; set; }
    private AddVariable apv { get; set; }

    private object SelectedPort { get; set; }

    public ProgramObject localProgram
    {
        get { return _localProgram; }
        set
        {
            //change this if it dont always add to history, by that i mean remove if
            if (value != _localProgram)
            {
                _localProgram = value;
                APO = value;
                //AddToHistory(value);
            }
        }
    }

    public List<ProgramObject> History { get; set; } = new List<ProgramObject>();

    public List<string> Errors { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        if (APO != null)
        {
            Console.WriteLine("first render");
            await JSRuntime.InvokeVoidAsync("registerGlobalKeyPress", DotNetObjectReference.Create(this));
            await JSRuntime.InvokeVoidAsync("initResizablePanels");
            await JSRuntime.InvokeVoidAsync("createInfiniteCanvas", DotNetObjectReference.Create(this), localProgram.ProgramStructure.CameraPos.Item1, localProgram.ProgramStructure.CameraPos.Item2);
            await JSRuntime.InvokeVoidAsync("initializeContextMenu");

            AddToHistory(localProgram);
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (APO != null)
        {
            if (localProgram != APO)
            {
                localProgram = APO;
                await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearAllConnections");
                await JSRuntime.InvokeVoidAsync("updateCameraPos", localProgram.ProgramStructure.CameraPos.Item1, localProgram.ProgramStructure.CameraPos.Item2, DotNetObjectReference.Create(this));
                await JSRuntime.InvokeVoidAsync("jsPlumbInterop.addZoom", localProgram.ProgramStructure.zoom);
                zoomvalue = localProgram.ProgramStructure.zoom;
                await JSRuntime.InvokeVoidAsync("jsPlumbInterop.initJsPlumb", DotNetObjectReference.Create(this), zoomvalue);

                await DrawConnections(localProgram.ProgramStructure);
            }
        }
        else
        {

        }
        StateHasChanged();
        await base.OnParametersSetAsync();
    }

    private async Task DrawConnections(ProgramStructure programStructure)
    {
        Console.WriteLine("Drawing blocks: " + programStructure.ProgramBlocks.Count());
        foreach (var block in programStructure.ProgramBlocks)
        {
            try
            {
                if (block.Inputs != null)
                {
                    int inputsCount = Math.Min(block.Inputs.Count, block.Block.Inputs.Count);
                    for (int i = 0; i < inputsCount; i++)
                    {
                        var output = block.Inputs[i];
                        var input = block.Block.Inputs[i];

                        if (output != null && input != null && output.ToString() != "00000000-0000-0000-0000-000000000000")
                        {
                            await JSRuntime.InvokeVoidAsync("jsPlumbInterop.connectInputs", output, input.Id, GetLineColor(input.Type.ToString()));
                        }
                    }
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error drawing connections: " + ex.Message);
                // Optionally log more details or handle the exception as needed.
            }
        }

        foreach (var input in programStructure.ProgramEnd)
        {
            if (programStructure.ProgramEndConnections.TryGetValue(input.Id, out Guid outputId))
            {
                await JSRuntime.InvokeVoidAsync("jsPlumbInterop.connectInputs", outputId, input.Id, GetLineColor(input.Type.ToString()));
            }
        }
    }

    //System Logic
    string GenerateWhiteboardStyle()
    {
        // Convert to integer values, eliminating decimals
        var bigSquareSize = (int)Math.Round(100 * zoomvalue);
        var smallSquareSize = (int)Math.Round(25 * zoomvalue);

        // Generate CSS string with integer pixel values
        string style = $@"
            position: relative;
            width: 100%;
            height: 100%;
            background-image:
                linear-gradient(90deg, rgba(0,0,0,0.1) 2px, transparent 2px),
                linear-gradient(rgba(0,0,0,0.1) 2px, transparent 2px),
                linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px),
                linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px);
            background-size:
    {bigSquareSize}px {bigSquareSize}px,
    {bigSquareSize}px {bigSquareSize}px,
    {smallSquareSize}px {smallSquareSize}px,
    {smallSquareSize}px {smallSquareSize}px;
            overflow: hidden;
            cursor: move;";

        return style;
    }

    public string GenerateBackgroundSizeStyle()
    {
        var bigSquareSize = (int)Math.Round(100 * zoomvalue);
        var smallSquareSize = (int)Math.Round(25 * zoomvalue);

        return $"{bigSquareSize}px {bigSquareSize}px, " +
               $"{bigSquareSize}px {bigSquareSize}px, " +
               $"{smallSquareSize}px {smallSquareSize}px, " +
               $"{smallSquareSize}px {smallSquareSize}px";
    }

    private TaskCompletionSource<bool> screenshotCompletionSource;
    public async Task Take()
    {
        screenshotCompletionSource = new TaskCompletionSource<bool>();
        await JSRuntime.InvokeVoidAsync("takeScreenshot", DotNetObjectReference.Create(this));
        await screenshotCompletionSource.Task; // This will wait until the screenshot is received
    }

    [JSInvokable]
    public void ReceiveScreenshot(string dataUrl)
    {
        byte[] imageBytes = Convert.FromBase64String(dataUrl.Split(',')[1]);
        localProgram.Image = imageBytes;
        screenshotCompletionSource.SetResult(true); // Signal completion
    }


    [JSInvokable]
    public async Task DeselectBlock() // Consider using Task instead of void for async methods
    {
        SelectedBlock = null;
        SelectedOutput = null;
        await JSRuntime.InvokeVoidAsync("window.removeTemporaryLine");
    }


    [JSInvokable]
    public async void OnRemoveConnection(string connectionId)
    {
        //Console.WriteLine("Connection removed: " + connectionId.Replace("-endpoint", ""));
        await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearAllConnections");
        localProgram.ProgramStructure.RemoveConnection(Guid.Parse(connectionId.Replace("-endpoint", "")));
        await DrawConnections(localProgram.ProgramStructure);
        StateHasChanged();
    }
    public async void RemoveConnection(string connectionId)
    {
        await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearAllConnections");
        localProgram.ProgramStructure.RemoveConnection(Guid.Parse(connectionId.Replace("-endpoint", "")));
        await DrawConnections(localProgram.ProgramStructure);
        StateHasChanged();
    }

    [JSInvokable]
    public async void OnGlobalKeyPress(string key, string code)
    {
        //Console.WriteLine($"Key pressed: {key}, Code: {code}");
        if (code == "Delete" || code == "Backspace test test")
        {
            await DeleteCurrentNode();
        }
        else if(code == "keyA")
        {

        }
    }

    public async Task RemovePort()
    {
        if (SelectedPort is Input input)
        {
            localProgram.ProgramStructure.RemoveConnection(input.Id);

            if (localProgram.ProgramStructure.ProgramEnd.Contains(input))
            {
                localProgram.ProgramStructure.ProgramEnd.Remove(input);
            }

            var blockContainingInput = localProgram.ProgramStructure.ProgramBlocks
                                       .FirstOrDefault(block => block.Block.Inputs.Contains(input));

            if (blockContainingInput != null)
            {
                blockContainingInput.Block.Inputs.Remove(input);
            }
        }
        else if (SelectedPort is Output output)
        {
            localProgram.ProgramStructure.RemoveConnection(output.Id);

            if (localProgram.ProgramStructure.ProgramStart.Contains(output))
            {
                localProgram.ProgramStructure.ProgramStart.Remove(output);
            }

            var blockContainingInput = localProgram.ProgramStructure.ProgramBlocks
                                       .FirstOrDefault(block => block.Block.Outputs.Contains(output));

            if (blockContainingInput != null)
            {
                blockContainingInput.Block.Outputs.Remove(output);
            }
        }
        await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearAllConnections");
        await DrawConnections(localProgram.ProgramStructure);
    }

    public async Task RemoveVariable(Guid id)
    {
        var variableToRemove = localProgram.ProgramStructure.Variables.FirstOrDefault(kv => kv.Key == id);

        if (variableToRemove.Key != Guid.Empty)
        {
            localProgram.ProgramStructure.Variables.Remove(variableToRemove.Key);
        }
    }

    //Whiteboard logic
    private async Task ZoomIn()
    {
        if (zoomvalue < 1.8)
        {
            zoomvalue = zoomvalue + 0.1f;
            await JSRuntime.InvokeVoidAsync("jsPlumbInterop.addZoom", zoomvalue);
            localProgram.ProgramStructure.zoom = zoomvalue;
            // Console.WriteLine(zoomvalue);
        }
    }

    private async Task ZoomOut()
    {
        if (zoomvalue > 0.2)
        {
            zoomvalue = zoomvalue - 0.1f;
            await JSRuntime.InvokeVoidAsync("jsPlumbInterop.addZoom", zoomvalue);
            localProgram.ProgramStructure.zoom = zoomvalue;
            // Console.WriteLine(zoomvalue);
        }
    }

    private async Task ShowContextMenu(MouseEventArgs e)
    {
        if (localProgram != null)
        {
            await JSRuntime.InvokeVoidAsync("showContextMenu", DotNetObjectReference.Create(this), e.ClientX, e.ClientY);
        }
    }

    private async void AddBlockToWhiteboard(Item item)
    {
        // Console.WriteLine($"{item.Name} was clicked");
        ProgramBlock programBlock = new ProgramBlock();

        // Create a new instance of the block type
        programBlock.Block = (Block)Activator.CreateInstance(item.block.GetType());

        // Generate new GUIDs for inputs and outputs.
        foreach (var input in programBlock.Block.Inputs)
        {
            input.Id = Guid.NewGuid();
        }

        foreach (var output in programBlock.Block.Outputs)
        {
            output.Id = Guid.NewGuid();
        }

        programBlock.Id = Guid.NewGuid();
        localProgram.ProgramStructure.AddProgramBlock(programBlock);

        //await JSRuntime.InvokeVoidAsync("initResizablePanels");
        //await JSRuntime.InvokeVoidAsync("jsPlumbInterop.initJsPlumb", DotNetObjectReference.Create(this), zoomvalue);
        await UpdateNodeLocation(programBlock.Id.ToString(), (int)LastMouseLocation.Item1, (int)LastMouseLocation.Item2);

        await Task.Delay(10); // just temporary   alltså glöm ej bort men fattar ej hur fix

        await JSRuntime.InvokeVoidAsync("jsPlumbInterop.addNode", programBlock.Id);

        StateHasChanged();
    }

    public async void SelectOutput(Output output)
    {
        SelectedOutput = output;
        var lineColor = GetLineColor(output.Type.ToString());
        //await JSRuntime.InvokeVoidAsync("window.removeTemporaryLine");
        await JSRuntime.InvokeVoidAsync("jsPlumbInterop.createTemporaryLine", output.Id, lineColor);

        //Console.WriteLine("Selected output is: " + output.Id);
    }

    public async void TryConnect(Input input)
    {
        if (SelectedOutput != null)
        {
            // Attempt to connect
            if (localProgram.ProgramStructure.TryConnectProgramBlock(SelectedOutput.Id, input.Id))
            {
                // If connection is successful, invoke jsPlumbInterop.connectInputs
                await JSRuntime.InvokeVoidAsync("jsPlumbInterop.connectInputs", SelectedOutput.Id, input.Id, GetLineColor(input.Type.ToString()));
                Console.WriteLine("Connection Succeeded");

                // Now, remove the temporary line regardless of connection success
                await JSRuntime.InvokeVoidAsync("window.removeTemporaryLine");
                SelectedOutput = null;
            }
            else
            {
                Console.WriteLine("Connection failed");

                // If connection fails, still remove the temporary line
                await JSRuntime.InvokeVoidAsync("window.removeTemporaryLine");
            }
        }
    }

    public void SelectNode(ProgramBlock programBlock)
    {
        SelectedDetail = programBlock;
        SelectedBlock = programBlock;
        //Console.WriteLine(programBlock.Block.Name);
    }

    public void SelectVariable(Variable variable)
    {
        SelectedDetail = variable;
        //Console.WriteLine(variable.Name);
    }

    public void SelectCustomBlock(ProgramBlock programBlock, string customBlockId)
    {
        var customBlockProgram = EAPs.OfType<CustomBlockProgram>().FirstOrDefault(eap => eap.Id.ToString() == customBlockId);
        if (customBlockProgram != null)
        {
            programBlock.Block.Inputs = customBlockProgram.ProgramStructure.ProgramStart.Select(output => ConvertOutputToInput(output)).ToList();
            programBlock.Block.Inputs.ForEach(input =>
            {
                localProgram.ProgramStructure.RemoveConnection(input.Id);
                input.Id = Guid.NewGuid();
            });

            // Processing Outputs
            programBlock.Block.Outputs = customBlockProgram.ProgramStructure.ProgramEnd.Select(input => ConvertInputToOutput(input)).ToList();
            programBlock.Outputs = programBlock.Block.Outputs.Select(output =>
            {
                localProgram.ProgramStructure.RemoveConnection(output.Id);
                return Guid.NewGuid();
            }).ToList();

            programBlock.VariableId = Guid.Parse(customBlockId);
            Guid customBlockGuid = Guid.Parse(customBlockId);
            if (localProgram.ProgramStructure.CustomPrograms.ContainsKey(programBlock.Id))
            {
                localProgram.ProgramStructure.CustomPrograms[programBlock.Id] = new CustomBlockProgram { Name = customBlockProgram.Name, Id = Guid.Parse(customBlockId) };
            }
            else
            {
                localProgram.ProgramStructure.CustomPrograms.Add(programBlock.Id, new CustomBlockProgram { Name = customBlockProgram.Name, Id = Guid.Parse(customBlockId) });
            }
        }
    }

    string GetShape(string type, bool isList)
    {
        if (isList)
        {
            return "shape-list";
        }
        switch (type)
        {
            case "Trigger":
                return "shape-trigger";
            case "String":
            case "Picture":
            case "Number":
            case "Boolean":
            case "Audio":
            case "Object":
                return "shape-circle";
            default:
                return "shape-square";
        }
    }

    string GetColor(string type)
    {
        switch (type)
        {
            case "Trigger":
                return "";
            case "String":
                return "color-string";
            case "Picture":
                return "color-picture";
            case "Number":
                return "color-number";
            case "Boolean":
                return "color-boolean";
            case "Audio":
                return "color-audio";
            case "Object":
                return "color-object";
            default:
                return "color-default";
        }
    }

    string GetLineColor(string type)
    {
        switch (type)
        {
            case "Trigger":
                return "#808080"; // Grey
            case "String":
                return "#008000"; // Green
            case "Picture":
                return "#0000ff"; // Blue
            case "Number":
                return "#ffa500"; // Light Blue
            case "Boolean":
                return "#ff0000"; // Red
            case "Audio":
                return "#800080"; // Purple
            case "Object":
                return "#f5f5dc"; // Beige
            default:
                return "#000000"; // Black (Default)
        }
    }

    private async Task DeleteCurrentNode()
    {
        try
        {
            if (SelectedBlock is ProgramBlock programBlock)
            {
                try
                {
                    await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearAllConnections");
                    //await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearConnections");
                }
                catch (Exception e)
                {
                    Console.WriteLine("Exception caught: " + e.Message);
                }

                await localProgram.ProgramStructure.RemoveProgramBlock(programBlock.Id);
                SelectedDetail = null;
                await DrawConnections(localProgram.ProgramStructure);
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            //Console.WriteLine("Exception caught: " + e.Message);
        }
    }

    private async Task SetGridSize(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int newSize))
        {
            await JSRuntime.InvokeVoidAsync("jsPlumbInterop.setGridSize", DotNetObjectReference.Create(this), newSize, zoomvalue);
            StateHasChanged();
        }
    }

    //Value logic
    private void SetValue(InputItem inputItem)
    {
        try
        {
            // var programblock = localProgram.ProgramStructure.ProgramBlocks
            //     .FirstOrDefault(programBlock => programBlock.Block.Inputs.Any(input => input.Id == inputItem.Id));

            // foreach(var input in programblock.Block.Inputs)
            // {
            //     if(input.Id == inputItem.Id){ break; }
            //     if (!localProgram.ProgramStructure.DirectInputValues.ContainsKey(input.Id) &&
            //         !localProgram.ProgramStructure.InputValues.ContainsKey(input.Id))
            //     {
            //         localProgram.ProgramStructure.DirectInputValues[input.Id] = new object();
            //         Console.WriteLine(input.Name);
            //     }
            // }
            localProgram.ProgramStructure.DirectInputValues[inputItem.Id] = inputItem.Data;
        }
        catch (Exception e)
        {
            // Handle the exception appropriately, e.g., log it
            Console.WriteLine(e.Message);
        }
    }

    private void SetVarValue(InputItem inputItem)
    {
        try
        {
            // Check if inputItem.Data is a List<object>
            if (inputItem.Data is List<object> dataList)
            {
                // Iterate over the list and print each value
                foreach (var value in dataList)
                {
                    Console.WriteLine(value);
                }
                localProgram.ProgramStructure.Variables[inputItem.Id].Value = inputItem.Data;

            }
            else
            {
                Console.WriteLine(inputItem.Data);
                localProgram.ProgramStructure.Variables[inputItem.Id].Value = inputItem.Data;
            }
        }
        catch (Exception e)
        {
            // Handle the exception appropriately, e.g., log it
            Console.WriteLine(e.Message);
        }
    }

    private void UpdateType(ProgramBlock node, object value, int Sidx = -1, int Eidx = -1, bool IsList = false)
    {
        string valueStr = value.ToString();
        if (Enum.IsDefined(typeof(NodeBaseApi.Version2.Type), valueStr))
        {
            NodeBaseApi.Version2.Type parsedType = (NodeBaseApi.Version2.Type)Enum.Parse(typeof(NodeBaseApi.Version2.Type), valueStr);
            if (Sidx != -1 && Eidx != -1)
            {
                node.Block.Outputs[Sidx].Type = parsedType;
                node.Block.Inputs[Eidx].Type = parsedType;
                node.Block.Inputs[Sidx].IsList = IsList;
                node.Block.Outputs[Eidx].IsList = IsList;
            }
            else if (Sidx == -1 && Eidx != -1)
            {
                node.Block.Outputs[Eidx].Type = parsedType;
                node.Block.Outputs[Eidx].IsList = IsList;
            }
            else if (Sidx != -1 && Eidx == -1)
            {
                node.Block.Inputs[Sidx].Type = parsedType;
                node.Block.Inputs[Sidx].IsList = IsList;
            }
            else
            {
                node.Block.Outputs[1].Type = parsedType;
                node.Block.Inputs[1].Type = parsedType;
            }
        }
        else
        {
            Console.WriteLine($"Invalid value: {valueStr}");
        }
    }

    private void UpdateBlockType(ProgramBlock node, object value)
    {
        if (!Enum.IsDefined(typeof(NodeBaseApi.Version2.Type), value.ToString()))
        {
            Console.WriteLine($"Invalid value: {value}");
            return;
        }

        NodeBaseApi.Version2.Type parsedType = (NodeBaseApi.Version2.Type)Enum.Parse(typeof(NodeBaseApi.Version2.Type), value.ToString());

        foreach (var input in node.Block.Inputs)
        {
            if (input.Type != NodeBaseApi.Version2.Type.Trigger && input.Name != "Index" && input.Name != "Selector")
            {
                input.Type = parsedType;
            }
        }

        foreach (var output in node.Block.Outputs)
        {
            if (output.Type != NodeBaseApi.Version2.Type.Trigger && output.Name != "Index")
            {
                output.Type = parsedType;
            }
        }
    }

    private void AddSwitchOutput(ProgramBlock node)
    {
        int idx = node.Block.Outputs.Count();
        node.Block.Outputs.Add(new Output
        {
            Name = $"Case &#8203; {idx}",
            Type = NodeBaseApi.Version2.Type.Trigger,
            Description = $"Triggered for case {idx}.",
        });
    }

    private void AddSelectInput(ProgramBlock node, string text)
    {
        int idx = node.Block.Inputs.Count();
        if (node.Block.Inputs.FirstOrDefault().Name.Split(' ')[0] == text.Split(' ')[0])
        {
            idx++;
        }

        node.Block.Inputs.Add(new Input
            {
                Id = Guid.NewGuid(),
                Name = $"{text.Split(' ')[0]} &#8203; {idx}",
                Type = node.Block.Inputs[1].Type,
                Description = $"{text} {idx}.",
            });
    }

    //Navbar logic
    private bool Saving { get; set; } = false;
    private bool Saved { get; set; } = false;

    private async Task SaveProgram()
    {
        Saving = true;
        Saved = false;
        StateHasChanged();

        await Take();
        APO = localProgram;
        if(localProgram is CustomProgram customProgram)
        {
            if(customProgram.ProgramStructure.ProgramBlocks.Count() != 0)
            {
                await UpdateDb(localProgram);
            }
            else
            {
                //Dont save if there are no blocks

            }
        }
        else if (localProgram is CustomBlockProgram customBlockProgram)
        {
            if (customBlockProgram.ProgramStructure.ProgramBlocks != null)
            {
                await UpdateDb(localProgram);
            }
            else
            {
                //Dont save if there are no blocks
            }
        }

        Saving = false;
        Saved = true;

        StateHasChanged(); 

        await Task.Delay(2000);

        Saved = false; 
        StateHasChanged();
    }

    private async Task ExecuteProgram()
    {
        //var errors = CheckErrors(localProgram);

        // if (errors.Count > 0)
        // {
        //     Errors = errors;
        // }
        // else
        // {
        //Also Exacute program after
        if (localProgram is CustomProgram customProgram)
        {
            if (customProgram.ProgramStructure.ProgramBlocks.Count() != 0)
            {
                await UpdateDb(localProgram);
                epnb.Open();
            }
            else
            {
                //Dont run if there are no blocks

            }
        }
        else if (localProgram is CustomBlockProgram customBlockProgram)
        {
            if (customBlockProgram.ProgramStructure.ProgramBlocks != null)
            {
                await UpdateDb(localProgram);
                epnb.Open();
            }
            else
            {
                //Dont run if there are no blocks
            }
        }
        // }
    }

    private async Task BuildProgram()
    {
        if (localProgram is CustomProgram customProgram)
        {
            if (customProgram.ProgramStructure.ProgramBlocks.Count() != 0)
            {
                // var errors = CheckErrors(localProgram);

                // if (errors.Count > 0)
                // {
                //     Errors = errors;
                // }
                // else
                // {
                await UpdateDb(localProgram);
                // }
            }
            else
            {
                //Dont save if there are no blocks

            }
        }
        else if (localProgram is CustomBlockProgram customBlockProgram)
        {
            if (customBlockProgram.ProgramStructure.ProgramBlocks != null)
            {
                var errors = CheckErrors(localProgram);

                if (errors.Count > 0)
                {
                    Errors = errors;
                }
                else
                {
                    await UpdateDb(localProgram);
                }
            }
            else
            {
                //Dont save if there are no blocks
            }
        }
    }

    private async Task UndoAction()
    {
        if (_currentHistoryIndex > 0) // make sure we don't go past the start of the history
        {
            _currentHistoryIndex--;
            localProgram = Clone(History[_currentHistoryIndex]);
            APO = localProgram;
            await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearAllConnections");
            await DrawConnections(localProgram.ProgramStructure);
        }
        //Console.WriteLine("History index: " + _currentHistoryIndex);

        StateHasChanged();
    }

    private async Task RedoAction()
    {
        if (_currentHistoryIndex < History.Count - 1) // make sure we don't go past the end of the history
        {
            _currentHistoryIndex++;
            localProgram = Clone(History[_currentHistoryIndex]);
            APO = localProgram;
            await JSRuntime.InvokeVoidAsync("jsPlumbInterop.clearAllConnections");
            await DrawConnections(localProgram.ProgramStructure);
        }
        //Console.WriteLine("History index: " + _currentHistoryIndex);

        StateHasChanged();
    }

    //Block logic

    //private void HandleButtonSelection(BlockSelector.ButtonItem button)
    //{
    //    // Handle the selected button
    //    //Console.WriteLine($"Selected button: {button.Text}");
    //}

    //Logic stuff
    private async void HandleChange(ChangeEventArgs e)
    {
        bool isChecked = Convert.ToBoolean(e.Value);
        localProgram.SupportsChat = isChecked;
        if(!isChecked)
        {
            RemoveConnection(localProgram.ProgramStructure.ProgramStart[1].Id.ToString());
        }
    }

    private Dictionary<string, ElementReference> inputElementReferences = new Dictionary<string, ElementReference>();
    private Dictionary<string, ElementReference> outputElementReferences = new Dictionary<string, ElementReference>();

    void ShowTooltip(ElementReference elementReference, Input input = null, Output output = null)
    {
        if (input != null)
        {
            SelectedPort = input;
            try
            {
                tooltipService.Open(elementReference, input.Description, new TooltipOptions
                {
                    Position = TooltipPosition.Top,
                    Duration = 5000,
                    Delay = 500
                });
            }
            catch (Exception e){}
        }
        else if (output != null)
        {
            SelectedPort = output;
            try
            {
                tooltipService.Open(elementReference, output.Description, new TooltipOptions
                {
                    Position = TooltipPosition.Top,
                    Duration = 5000,
                    Delay = 500
                });
            }
            catch(Exception e){}
        }
    }

    void HideTooltip()
    {
        tooltipService.Close();
    }

    private void Openapi()
    {
        api.Open();
    }

    private void Openapo()
    {
        apo.Open();
    }

    private void Openapv()
    {
        apv.Open();
    }

    private void AddProgramInput(Output newOutput)
    {
        // Clone newOutput using Newtonsoft.Json
        var clonedOutput = JsonConvert.DeserializeObject<Output>(JsonConvert.SerializeObject(newOutput));

        localProgram.ProgramStructure.AddProgramInput(clonedOutput);
    }

    private void AddProgramOutput(Input newInput)
    {
        // Clone newOutput using Newtonsoft.Json
        var clonedInput = JsonConvert.DeserializeObject<Input>(JsonConvert.SerializeObject(newInput));

        localProgram.ProgramStructure.AddProgramOutput(clonedInput);
    }

    private void AddProgramVariable(Variable newVariable)
    {
        var clonedVariable = JsonConvert.DeserializeObject<Variable>(JsonConvert.SerializeObject(newVariable));

        if (localProgram is CustomProgram customProgram)
        {
            customProgram.ProgramStructure.Variables.Add(newVariable.Id, newVariable);
        }
        else if (localProgram is CustomBlockProgram customBlockProgram)
        {
            customBlockProgram.ProgramStructure.Variables.Add(newVariable.Id, newVariable);
        }
    }

    public Input ConvertOutputToInput(Output output)
    {
        return new Input
            {
                Id = output.Id,
                Name = output.Name,
                Description = output.Description,
                Type = output.Type,
                IsList = output.IsList,
                IsRequired = false  
            };
    }

    public Output ConvertInputToOutput(Input input)
    {
        return new Output
            {
                Id = Guid.NewGuid(),
                Name = input.Name,
                Description = input.Description,
                Type = input.Type,
                IsList = input.IsList
            };
    }

    [JSInvokable]
    public Task UpdateNodeLocation(string nodeId, int newX, int newY)
    {
        if(nodeId == "Input") 
        {
            localProgram.ProgramStructure.ProgramStartLocation = new Tuple<int, int>(newX, newY);
        }
        else if(nodeId == "Output")
        {
            localProgram.ProgramStructure.ProgramEndLocation = new Tuple<int, int>(newX, newY);
        }
        else
        {
            if (localProgram is CustomProgram customProgram)
            {
                ProgramBlock targetBlock = customProgram.ProgramStructure.ProgramBlocks.Find(block => block.Id.ToString() == nodeId);
                if (targetBlock != null)
                {
                    targetBlock.X = newX;
                    targetBlock.Y = newY;
                }
            }
            else if (localProgram is CustomBlockProgram customBlockProgram)
            {
                ProgramBlock targetBlock = customBlockProgram.ProgramStructure.ProgramBlocks.Find(block => block.Id.ToString() == nodeId);
                if (targetBlock != null)
                {
                    targetBlock.X = newX;
                    targetBlock.Y = newY;
                }
            }
        }


        AddToHistory(localProgram);
        //Console.WriteLine("History index: " + _currentHistoryIndex);
        //Console.WriteLine(History.ToList().Count + " Objects in history");
        // Trigger UI update
        StateHasChanged();
        return Task.CompletedTask;
    }

    [JSInvokable]
    public Task UpdateCameraPosition(double newX, double newY)
    {
        //Console.WriteLine($"UpdateCameraPosition called with {newX}, {newY}");
        try
        {
            localProgram.ProgramStructure.CameraPos = new Tuple<double, double>(newX, newY);

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        //Console.WriteLine("UpdateCameraPosition execution finished");

        return Task.CompletedTask;
    }

    [JSInvokable]
    public void SetBlockSpawn(double newX, double newY)
    {
        LastMouseLocation = new Tuple<double, double>(newX, newY);
        //Console.WriteLine(newX + " " + newY);
    }

    private async Task UpdateDb(ProgramObject Program)
    {
        // Assuming Program and Program.ProgramStructure are not null

        var programStartLocation = Program.ProgramStructure.ProgramStartLocation ?? new Tuple<int, int>(0, 200);
        var programEndLocation = Program.ProgramStructure.ProgramEndLocation ?? new Tuple<int, int>(300, 200);
        var cameraPos = Program.ProgramStructure.CameraPos ?? new Tuple<double, double>(0, 0);

        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
                TypeNameHandling = TypeNameHandling.Auto,
                Converters = new List<JsonConverter> { new BlockJsonConverter() },
                ContractResolver = new IgnoreTuplesContractResolver(),
                ObjectCreationHandling = ObjectCreationHandling.Replace
            };

        var json = JsonConvert.SerializeObject(Program, settings);
        var jsonObject = JObject.Parse(json);

        // Adjusting case sensitivity for JSON properties to match the actual JSON structure
        jsonObject["ProgramStructure"]["ProgramStartLocation"] = new JArray(programStartLocation.Item1, programStartLocation.Item2);
        jsonObject["ProgramStructure"]["ProgramEndLocation"] = new JArray(programEndLocation.Item1, programEndLocation.Item2);
        jsonObject["ProgramStructure"]["CameraPos"] = new JArray(cameraPos.Item1, cameraPos.Item2);

        var modifiedJson = jsonObject.ToString();
        var content = new StringContent(modifiedJson, Encoding.UTF8, "application/json");

        var endpoint = Program is CustomProgram ? $"programs/{Program.Id}" : $"customblocks/{Program.Id}";

        // Simplified HTTP call without explicit error logging
        var response = await Http.PostAsync(endpoint, content);

        if (!response.IsSuccessStatusCode)
        {
            // Consider logging or handling the error here
            throw new HttpRequestException($"Failed to update program with ID {Program.Id}. Response code: {response.StatusCode}");
        }
    }

    private List<string> CheckErrors(ProgramObject Program)
    {
        if (Program == null)
        {
            throw new ArgumentNullException(nameof(Program), "No active program");
        }

        try
        {
            switch (Program)
            {
                case CustomProgram customProgram:
                    return customProgram.ProgramStructure.CheckErrors();
                case CustomBlockProgram customBlockProgram:
                    return customBlockProgram.ProgramStructure.CheckErrors();
                default:
                    return new List<string> { $"What type is program? This is impossible. Program type: {Program.GetType().Name}" };
            }
        }
        catch (Exception ex)
        {
            throw new Exception($"Error while checking errors in the program. Inner Exception: {ex.Message}", ex);
        }
    }

    private void AddToHistory(ProgramObject program)
    {
        // Clone the program before adding it to the history
        var clonedProgram = Clone(program);

        // If the current history index is not at the end, remove all entries after the current index
        if (_currentHistoryIndex < History.Count - 1)
        {
            History.RemoveRange(_currentHistoryIndex + 1, History.Count - _currentHistoryIndex - 1);
        }

        // Add the cloned program to the history
        History.Add(clonedProgram);
        _currentHistoryIndex = History.Count - 1; // update the current index to the end of the history

        if (clonedProgram is CustomProgram customBlock)
        {
            //Console.WriteLine("Program start location in clone " + customBlock.ProgramStructure.ProgramStartLocation.Item1 + customBlock.ProgramStructure.ProgramStartLocation.Item2);
        }

        // If the history exceeds MaxHistoryLength, remove the oldest entry
        if (History.Count > MaxHistoryLength)
        {
            History.RemoveAt(0);
            _currentHistoryIndex--; // don't forget to adjust the current index accordingly
        }
    }

    public ProgramObject Clone(ProgramObject program)
    {
        try
        {
            string jsonString = "";
            var settings = new JsonSerializerSettings
                {
                    TypeNameHandling = TypeNameHandling.Auto,
                    Converters = new List<JsonConverter> { new TupleConverter(), new BlockJsonConverter() },
                    ContractResolver = new DefaultContractResolver
                    {
                        NamingStrategy = new CamelCaseNamingStrategy()
                    },
                    ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
                    ObjectCreationHandling = ObjectCreationHandling.Replace
                };

            if (program is CustomProgram customProgram)
            {
                ////Console.WriteLine("-------------------------Start");
                //StackTrace stackTrace = new StackTrace();
                ////Console.WriteLine(stackTrace.GetFrame(1).GetMethod().Name);
                ////Console.WriteLine("-------------------------");
                //foreach(var x in customProgram.ProgramStructure.ProgramBlocks)
                //{
                //    foreach(var y in x.Block.Inputs)
                //    {
                //        //Console.WriteLine(y.Name);
                //    }
                //}

                jsonString = JsonConvert.SerializeObject(customProgram, settings);
                ////Console.WriteLine("-------------------------");
                var retur = JsonConvert.DeserializeObject<CustomProgram>(jsonString, settings);

                //foreach (var x in retur.ProgramStructure.ProgramBlocks)
                //{
                //    foreach (var y in x.Block.Inputs)
                //    {
                //        //Console.WriteLine(y.Name);
                //    }
                //}
                ////Console.WriteLine("-------------------------End");
                return retur;
            }
            else if (program is CustomBlockProgram customBlockProgram)
            {
                jsonString = JsonConvert.SerializeObject(customBlockProgram, settings);

                var retur = JsonConvert.DeserializeObject<CustomBlockProgram>(jsonString, settings);
                return retur;
            }
        }
        catch (JsonSerializationException jsonException)
        {
            // Handle or log the exception as needed.
            //Console.WriteLine($"An error occurred during serialization or deserialization: {jsonException.Message}");
        }
        catch (Exception ex)
        {
            // Handle or log the generic exception as needed.
            //Console.WriteLine($"An unexpected error occurred: {ex.Message}");
        }

        return null;
    }
}
