@page "/home"
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Authorization;
@using NodeBaseApi.Version2;
@inject HttpClient Http;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="flex justify-between h-full">
    <div class="self-end dark:bg-gray-600 rounded-lg h-full flex flex-col">
        <!-- top part -->
        <div class="flex-grow dark:bg-gray-600 rounded-lg w-full">
            <AiDesigner.Client.Components.CallChart ></AiDesigner.Client.Components.CallChart>
        </div>
      <!-- bottom part -->
        <div class="flex flex-col items-start align-baseline mb-0 dark:bg-gray-700 rounded-lg">
            <div class="flex flex-nowrap gap-3 m-3">
                @if(EAPs.Count() != 0)
                {
                    @foreach (var eap in EAPs.OrderByDescending(e => e.LastOpened).Take(3))
                    {
                        <button class="w-48 h-48 p-0 rounded bg-gray-200 dark:bg-gray-600 text-black dark:text-white flex flex-col items-center justify-between relative custom-button"
                        @onclick="() => OpenProject(eap)">
                            <!-- Image -->
                            @if (eap.Image != null)
                            {
                                <div class="w-full h-4/5">
                                    <img src="@($"data:image/png;base64,{Convert.ToBase64String(eap.Image)}")" alt="@eap.Name" style="width: 100%; height: 100%; object-fit: cover; flex-grow: 1;" class="rounded-t" loading="lazy" />
                                </div>
                            }
                            else
                            {
                                <div style="margin-top: 9.7rem;" />
                            }

                            <!-- Divider -->
                            <hr style="width: 100%; margin-left: auto; margin-right: auto;">

                            <!-- Program Name -->
                            <div class="w-full align-middle content-center">
                                <h1 class="dark:text-white mb-2 text-xl m-auto">@eap.Name</h1>
                            </div>
                        </button>
                    }
                    @for (var i = 0; i < (3- EAPs.Count()); i++)
                    {
                        <div class="w-48 h-48 p-0 rounded bg-gray-200 dark:bg-gray-600 text-black dark:text-white flex flex-col items-center justify-start">
                            <!-- Add Image Here -->
                            <div class="w-full h-4/5">
                                <div class="w-full h-full bg-gray-600"></div>
                            </div>
                            <br />
                            <hr style="width: 100%; margin-left: auto; margin-right: auto; margin-top: -1.6rem;">
                            <div class="w-full flex items-center justify-center">
                                <div class="h-8 w-28 bg-gray-700 mt-1"></div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @for (var i = 0; i < 3; i++)
                    {
                        <div class="w-48 h-48 p-0 rounded bg-gray-200 dark:bg-gray-600 text-black dark:text-white flex flex-col items-center justify-start">
                            <!-- Add Image Here -->
                            <div class="w-full h-4/5">
                                <div class="w-full h-full bg-gray-600"></div>
                            </div>
                            <br />
                            <hr style="width: 100%; margin-left: auto; margin-right: auto; margin-top: -1.6rem;">
                            <div class="w-full flex items-center justify-center">
                                <div class="h-8 w-28 bg-gray-700 mt-1"></div>
                            </div>
                        </div>
                    }
                }
                @if (Articles != null)
                {
                    @foreach (var article in Articles)
                    {
                        <button @onclick="() => OpenWorkshopArticle(article)" class="w-48 h-48 p-0 rounded bg-gray-200 dark:bg-gray-600 text-black dark:text-white flex flex-col items-center justify-center">
                            <!-- Add Image Here -->
                            <div class="w-full h-4/5 flex items-center justify-center">
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(article.ProgramImage)}")" alt="@article.Name" style="height: 100%; object-fit: cover; flex-grow: 1;" class="rounded-t overflow-hidden" loading="lazy" />
                            </div>
                            <br />
                            <hr style="width: 100%; margin-left: auto; margin-right: auto; margin-top: -1.5rem;">
                            <div class="flex justify-between w-full" style="margin-bottom: -1.5rem;">
                                <p class="text-left dark:text-white text-lg m-1 ml-3 overflow-hidden w-20">@article.Name</p>
                                <button @onclick="() => Addtovault(article)" @onclick:stopPropagation="true" class="bg-green-600 hover:bg-green-700 text-white rounded p-1 m-1 w-24">Add to vault</button>
                            </div>
                            <br />
                        </button>
                    }
                }
                else
                {
                    @for(var i = 0; i < 3; i++)
                    {
                        <div class="w-48 h-48 p-0 rounded bg-gray-200 dark:bg-gray-600 text-black dark:text-white flex flex-col items-center justify-start">
                            <!-- Add Image Here -->
                            <div class="w-full h-4/5">
                                <div class="w-full h-full bg-gray-600"></div>
                            </div>
                            <br />
                            <hr style="width: 100%; margin-left: auto; margin-right: auto; margin-top: -1.5rem;">
                            <div class="flex justify-between w-full" style="margin-bottom: -1.5rem;">
                                <p class="bg-gray-700 text-left dark:text-white text-lg m-1 ml-3 overflow-hidden w-20"></p>
                                <div class="bg-green-600 hover:bg-green-700 text-white rounded p-1 m-1 w-24">Add to vault</div>
                            </div>
                            <br />
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-start dark:bg-gray-700 w-96 rounded-lg">
        <!-- Notice the 'justify-end' -->
        <!-- News Section -->
        <div class="text-center p-4 overflow-y-auto">
            <p class="text-lg font-semibold mb-4">Latest News</p>
            @if (LatestArticles != null)
            {
                @foreach (var article in LatestArticles)
                {
                    <div class="mb-2">
                        <button class="w-full h-auto p-2 rounded-lg shadow hover:shadow-lg transition
                        @(selectedArticle == article ? "dark:bg-gray-500 bg-gray-100" : "dark:bg-gray-600 bg-gray-200") text-black"
                        @onclick="() => SetSelectedNewsArticle(article)">
                            <div class="truncate dark:text-white text-lg">@article.Title</div>
                            <div>@article.PublishDate.ToShortDateString()</div>
                            @if (selectedArticle == article)
                            {
                                <div class="mt-2 flex flex-col items-center">
                                    @if (article.ImageData != null)
                                    {
                                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(article.ImageData)}")" alt="@article.Title" style="width: 300px; height: 300px; object-fit: cover; border-radius: 4px; margin-bottom: 8px;" loading="lazy" />
                                    }
                                    <p class="dark:text-white">@article.Content</p>
                                </div>
                            }
                            else
                            {
                                <div class="mt-2">
                                    <p class="truncate dark:text-white">@article.Content.Substring(0, 50)...</p>
                                </div>
                            }
                        </button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [CascadingParameter(Name = "EAPs")]
    public List<ProgramObject> EAPs { get; set; }

    [CascadingParameter(Name = "SetPassingArticle")]
    protected EventCallback<WorkshopArticle> SetPassingArticle { get; set; }


    [CascadingParameter(Name = "NewAps")]
    protected EventCallback<ProgramObject> NewAps { get; set; }

    private List<NewsArticle> LatestArticles;
    private NewsArticle selectedArticle;
    private List<WorkshopArticle> Articles;

    protected override async Task OnInitializedAsync()
    {
        if (LatestArticles == null)
        {
            await GetLatestNews();
        }
        if (Articles == null)
        {
            await GetLatestThreeArticles();
        }
    }

    private async Task Addtovault(WorkshopArticle article)
    {
        var user = CascAuth.User;
        var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
        if (Guid.TryParse(userIdClaim, out Guid userId))
        {
            var isCreator = article.AuthorId == userId.ToString();

            string requestUri = "Workshop/connect-article-to-user";
            UserArticle userArticle = new UserArticle
                {
                    ArticleId = article.Id,
                    UserId = userId.ToString(),
                    IsCreator = isCreator,
                    Rating = 0,
                    Review = "",
                    IsFavorite = false
                };
            var response = await Http.PostAsJsonAsync(requestUri, userArticle);
        }
    }

    private void SetSelectedNewsArticle(NewsArticle article)
    {
        selectedArticle = article;
    }

    private void OpenProject(ProgramObject programObject)
    {
        NewAps.InvokeAsync(programObject);
    }

    private void OpenWorkshopArticle(WorkshopArticle article)
    {
        SetPassingArticle.InvokeAsync(article);
        NavigationManager.NavigateTo($"/marketplace");
    }

    //Api / db
    private async Task GetLatestThreeArticles()
    {
        try
        {
            var response = await Http.GetAsync($"Workshop/search?searchTerm=&searchClass=&type=&start=0&end=3");

            if (response.IsSuccessStatusCode)
            {
                Articles = await response.Content.ReadFromJsonAsync<List<WorkshopArticle>>();
            }
            else
            {
                Console.WriteLine($"Failed to get latest 3 articles. StatusCode: {response.StatusCode}, Content: {await response.Content.ReadAsStringAsync()}");
            }
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"An HttpRequestException occurred while getting latest 3 articles: {e.Message}");
        }
        catch (TimeoutException e)
        {
            Console.WriteLine($"A TimeoutException occurred while getting latest 3 articles: {e.Message}");
        }
        catch (Exception e)
        {
            // Log the exception for debugging and review
            Console.WriteLine($"An unknown exception occurred while getting latest 3 articles: {e.Message}");
        }
    }
    private async Task GetLatestNews()
    {
        try
        {
            var response = await Http.GetAsync("Chat/News/Latest");

            if (response.IsSuccessStatusCode)
            {
                LatestArticles = (await response.Content.ReadFromJsonAsync<IEnumerable<NewsArticle>>()).ToList();

                if (LatestArticles.Count > 0)
                {
                    selectedArticle = LatestArticles[0];
                }
            }
            else
            {
                Console.WriteLine($"Failed to load articles. Status code: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while fetching articles: {ex.Message}");
        }
    }
}
