@page "/library"
@using AiDesigner.Shared
@inject NavigationManager NavigationManager
@using AiDesigner.Shared.Data;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using NodeBaseApi.Version2;
@using System.Linq;
@using AiDesigner.Client.Modals;
@using AiDesigner.Client.Components;
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider;
@using System.Net.Http.Json
@using System.Text;
@using System.Text.Json;
@attribute [Authorize]

<PageTitle>Library</PageTitle>

@*Här ska man testa programet eller blocket? och inställningar för project*@

<ProgramSettings SelectedProgram="AP" SelectedProgramChanged="OnSelectedProgramChanged"></ProgramSettings>
<br />

<CascadingValue Value="NewProgram" Name="NP">
<div style="display: flex; align-items: center; justify-content: space-between;">
    <h1 style="margin-right: 10px;">My projects</h1>
    <hr style="flex-grow: 1; margin: 0;">
    <AiDesigner.Client.Modals.AddProgram @ref="ap" CreateNew="CreateProgram"></AiDesigner.Client.Modals.AddProgram>
</div>
</CascadingValue>

<div class="flex flex-wrap gap-4 mt-8">
    @foreach (var eap in EAPs)
    {
        if (eap is CustomProgram customProgram)
        {
            <button class="w-72 h-48 p-0 rounded bg-gray-200 dark:bg-gray-700 text-black dark:text-white flex flex-col items-center justify-between" @onmousedown="@(async () => await HandleButtonClick(eap))"
            @ondblclick="@(async () => await HandleDButtonClick(customProgram))">
                <!-- Add Image Here -->
                @if (customProgram.Image != null)
                {
                    <img src="@($"data:image/png;base64,{Convert.ToBase64String(customProgram.Image)}")" alt="@customProgram.Name" style="width: 100%; height: 50%; object-fit: cover; flex-grow: 1;" class="rounded-t" loading="lazy" />
                }
                else
                {
                    <div style="margin-top: 9.7rem;" />
                }
                <hr style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="w-full align-middle content-center">
                    <h1 class="dark:text-white mb-2 text-xl m-auto">@customProgram.Name</h1>
                </div>
            </button>
        }
    }
</div>
<br />

<CascadingValue Value="NewBlockProgram" Name="NCB">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h1 style="margin-right: 10px;">My custom blocks</h1>
        <hr style="flex-grow: 1; margin: 0;">
        <AiDesigner.Client.Modals.AddCustomBlock @ref="acb" CreateNew="CreateBlockProgram"></AiDesigner.Client.Modals.AddCustomBlock>
    </div>
</CascadingValue>

<div class="flex flex-wrap gap-4 mt-8">
    @foreach (var eap in EAPs)
    {
        if (eap is CustomBlockProgram customBlockProgram)
        {
            <button class="w-72 h-48 p-0 rounded bg-gray-200 dark:bg-gray-700 text-black dark:text-white flex flex-col items-center justify-between" @onmousedown="@(async () => await HandleButtonClick(eap))"
            @ondblclick="@(async () => await HandleDButtonClick(customBlockProgram))">
                <!-- Add Image Here -->
                @if (customBlockProgram.Image != null)
                {
                    <img src="@($"data:image/png;base64,{Convert.ToBase64String(customBlockProgram.Image)}")" alt="@customBlockProgram.Name" style="width: 100%; height: 50%; object-fit: cover; flex-grow: 1;" class="rounded-t" loading="lazy" />
                }
                else
                {
                    <div style="margin-top: 9.7rem;" />
                }
                <hr style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="w-full align-middle content-center">
                    <h1 class="dark:text-white mb-2 text-xl m-auto">@customBlockProgram.Name</h1>
                </div>
            </button>
        }
    }
</div>

<div style="display: flex; align-items: center; justify-content: space-between;" class="mt-8">
    <h1 style="margin-right: 10px;">Vault</h1>
    <hr style="flex-grow: 1; margin: 0;">
</div>

<div class="flex flex-wrap gap-4 mt-8">
    @if (workshopArticles != null)
    {
        @foreach (var article in workshopArticles)
        {
            <div class="relative h-40 p-2 rounded bg-gray-200 dark:bg-gray-700 text-black dark:text-white flex items-center" style="width: 17rem;">
                <!-- Remove Button -->
                <button @onclick="(() => RemoveArticle(article.Id))" class="absolute top-0 right-0 p-0 m-1 text-gray-700 dark:text-gray-300 hover:text-black dark:hover:text-white">
                    X
                </button>

                <!-- Image Container -->
                <div style="width: 130px; height: 130px; position: relative; padding-left: 8rem;">
                    <img src="@($"data:image/png;base64,{Convert.ToBase64String(article.ProgramImage)}")"
                         alt="@article.Name"
                         style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px; object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                </div>

                <!-- Text and Clone Button -->
                <div class="flex flex-col ml-3 flex-grow justify-between">
                    <!-- Name -->
                    <div class="self-start" style="margin-left: 0.2rem;">
                        <h3 class="dark:text-white text-xl">@article.Name</h3>
                    </div>

                    <!-- Clone Button -->
                    <div class="self-end">
                        <button @onclick="(() => CloneArticle(article.ProgramId))" class="py-1 bg-green-500 text-white rounded" style="margin-right: 2rem; padding-left: 1.5rem; padding-right: 1.5rem; margin-top: 2rem;">
                            Clone
                        </button>
                    </div>
                </div>
            </div>
        }
    }
</div>


@*Lägg till project som man fått från market och blocks*@

@code {
    [CascadingParameter(Name = "EAPs")]
    public List<ProgramObject> EAPs { get; set; }

    [CascadingParameter(Name = "AP")]
    public ProgramObject AP { get; set; }

    [CascadingParameter(Name = "NewAps")]
    protected EventCallback<ProgramObject> NewAps { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    //Vars For modal
    public CustomProgram NewProgram { get; set; } = new CustomProgram();
    public CustomBlockProgram NewBlockProgram { get; set; } = new CustomBlockProgram();

    private AddProgram ap { get; set; }
    private AddCustomBlock acb { get; set; }

    public List<WorkshopArticle> workshopArticles { get; set; }

    private bool HasLoaded = false;

    protected override async Task OnParametersSetAsync()
    {
        await UpdateVault();
    }

    public async Task UpdateVault()
    {
        if (CascAuth?.User != null && workshopArticles == null && HasLoaded == false)
        {
            HasLoaded = true;
            var user = CascAuth.User;

            if (user.Identity.IsAuthenticated)
            {
                var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
                if (Guid.TryParse(userIdClaim, out Guid userId))
                {
                    try
                    {
                        var response = await Http.GetAsync($"Workshop/get-articles-connected-to-user/{userId}");
                        if (response.IsSuccessStatusCode)
                        {
                            // Deserialize the response to the expected data model.
                            workshopArticles = (await response.Content.ReadFromJsonAsync<IEnumerable<WorkshopArticle>>()).ToList();
                        }
                        else
                        {
                            Console.WriteLine($"The call failed with status code {response.StatusCode}");
                            HasLoaded = false;
                        }
                    }
                    catch (HttpRequestException ex)
                    {
                        Console.WriteLine($"Request exception: {ex.Message}");
                        HasLoaded = false;
                    }
                }
            }
            else
            {
                HasLoaded = false;
            }
        }
    }

    bool isSingleClick = true;
    private async Task HandleButtonClick(ProgramObject eap)
    {
        isSingleClick = true;
        await Task.Delay(250);
        if (isSingleClick)
        {
            if (AP == eap)
            {
                AP = null;
            }
            else
            {
                AP = eap;
            }
        }
    }

    private async Task HandleDButtonClick(ProgramObject eap)
    {
        isSingleClick = false;
        await NewAps.InvokeAsync(eap);
    }

    private void CreateProgram()
    {
        EAPs.Add(NewProgram);
        NewProgram = new CustomProgram();
        StateHasChanged();
    }

    private void CreateBlockProgram()
    {
        EAPs.Add(NewBlockProgram);
        NewBlockProgram = new CustomBlockProgram();
        StateHasChanged();
    }

    private async Task OnSelectedProgramChanged(ProgramObject newProgram)
    {
        AP = newProgram;
        // Find a matching ProgramObject in EAPs
        var matchingProgram = EAPs.Find(program => program.Id == AP.Id);

        HttpResponseMessage response = null;

        if (matchingProgram != null)
        {
            // If a matching program is found, update its properties with those of newProgram
            // You may need to adjust this code based on the exact properties of your ProgramObject class
            matchingProgram.Id = newProgram.Id;
            matchingProgram.Name = newProgram.Name;
            matchingProgram.Description = newProgram.Description;
            matchingProgram.Author = newProgram.Author;
            matchingProgram.AuthorName = newProgram.AuthorName;
            matchingProgram.IsPublic = newProgram.IsPublic;
            matchingProgram.SupportsSessions = newProgram.SupportsSessions;

            // If the ProgramObject is a CustomProgram
            if (matchingProgram is CustomProgram customProgram && newProgram is CustomProgram newCustomProgram)
            {
                customProgram.ApiKey = newCustomProgram.ApiKey;
                customProgram.ProgramStructure = newCustomProgram.ProgramStructure;
            }
            else if (matchingProgram is CustomBlockProgram customBlockProgram && newProgram is CustomBlockProgram newCustomBlockProgram)
            {
                customBlockProgram.ProgramStructure = newCustomBlockProgram.ProgramStructure;
            }

            var settings = new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
                    TypeNameHandling = TypeNameHandling.Auto, // Preserve type information during serialization
                    Converters = new List<JsonConverter> { new TupleConverter(), new BlockJsonConverter() },
                    ObjectCreationHandling = ObjectCreationHandling.Replace
                };

            try
            {
                if (newProgram is CustomProgram)
                {
                    var json = JsonConvert.SerializeObject(matchingProgram, settings);
                    var content = new StringContent(json, Encoding.UTF8, "application/json");

                    response = await Http.PutAsync($"programs/{matchingProgram.Id}", content);
                }
                else if (newProgram is CustomBlockProgram)
                {
                    var json = JsonConvert.SerializeObject(matchingProgram, settings);
                    var content = new StringContent(json, Encoding.UTF8, "application/json");

                    response = await Http.PutAsync($"customblocks/{matchingProgram.Id}", content);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("An error occurred while sending the request: " + ex.ToString());
            }

            if (response == null || !response.IsSuccessStatusCode)
            {
                string errorContent = await response.Content.ReadAsStringAsync();
                throw new Exception($"Failed to update program with ID {matchingProgram.Id}. Response: {errorContent}. Code {response.StatusCode}");
            }
        }
        else
        {
            throw new Exception($"No program found with ID matching {AP.Id}");
        }
    }

    //Vault
    private async Task RemoveArticle(string id)
    {
        try
        {
            var user = CascAuth.User;
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                var response = await Http.DeleteAsync($"Workshop/remove-user-article/{userId}/{id}");

                Console.WriteLine("Article id: " + id + ", User id: " + userId);

                if (response.IsSuccessStatusCode)
                {
                    Console.WriteLine("Article removed successfully");
                    workshopArticles.RemoveAll(article => article.Id == id);
                    StateHasChanged();
                }
                else
                {
                    // Log or display the error
                    Console.WriteLine($"Failed to remove article connection. Status code: {response.StatusCode}");
                }
            }
        }
        catch (HttpRequestException ex)
        {
            // Log or display the error
            Console.WriteLine($"Request error: {ex.Message}");
        }
    }


    private async Task CloneArticle(string id)
    {
        var response = await Http.GetAsync($"Programs/{id}");
        if (response.IsSuccessStatusCode)
        {
            var responseContent = await response.Content.ReadAsStringAsync();
            Console.WriteLine(responseContent);
            var settings = new JsonSerializerSettings
                {
                    TypeNameHandling = TypeNameHandling.Auto,
                    Converters = new List<JsonConverter> { new TupleConverter(), new BlockJsonConverter() },
                    ContractResolver = new DefaultContractResolver
                    {
                        NamingStrategy = new CamelCaseNamingStrategy()
                    },
                    ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
                    ObjectCreationHandling = ObjectCreationHandling.Replace
                };


            if (responseContent.Contains("\"apiKey\":"))
            {
                var userProgram = JsonConvert.DeserializeObject<CustomProgram>(responseContent, settings);
                if (userProgram.IsPublic)
                {
                    ap.Open();
                    NewProgram = userProgram;
                    Console.WriteLine("CustomProgram cloned successfully");
                }
                else
                {
                    Console.WriteLine("CustomProgram is not public");
                }
            }
            else
            {
                var userBlockProgram = JsonConvert.DeserializeObject<CustomBlockProgram>(responseContent, settings);
                if (userBlockProgram.IsPublic)
                {
                    acb.Open();
                    NewBlockProgram = userBlockProgram;
                    Console.WriteLine("CustomProgram cloned successfully");
                }
                else
                {
                    Console.WriteLine("CustomProgram is not public");
                }
            }

            if (true)
            {
                string jsonuserProgram = JsonConvert.SerializeObject(NewProgram, settings);
                Console.WriteLine("---------------------------------------");
                Console.WriteLine("UserProgram: " + jsonuserProgram);
            }
        }
        else
        {
            // Log or display the error
            Console.WriteLine($"Failed to get article for cloning. Status code: {response.StatusCode}");
        }
    }
}
