@using AiDesigner.Client.Components 
@using AiDesigner.Shared.Data;
@using Newtonsoft.Json;
@using NodeBaseApi.Version2;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using System.Text
@using AiDesigner.Client.Components.Chat;
@using static AiDesigner.Client.Components.Chat.InputList
@inject HttpClient Http

<button @onclick="Open" class="px-4 py-2 text-white bg-green-600 hover:bg-green-700 rounded" type="button">
    Execute Program
</button>

<div class="@($"fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full {(IsModalOpen ? "block" : "hidden")}")" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="relative w-full max-w-2xl max-h-full mx-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600 dark:bg-gray-800">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white pr-2">
                    Execute Program
                </h3>
                @if(AP.SupportsSessions)
                {
                    <SelectSession SelectSessions="setCurrentSession" ProgramId="@AP.Id.ToString()"></SelectSession>
                }
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" @onclick="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-gray-300 dark:bg-gray-600 dark:text-white">
                <div class="flex space-x-4" style="height: 30rem;">
                    @if (AP != null && !AP.SupportsChat)
                    {
                        <div class="w-1/2 border-r !border-gray-300 dark:!border-gray-500 overflow-auto">
                            <h3 class="text-lg font-semibold">Inputs:</h3>
                            @if (AP != null)
                            {
                                <div style="margin-top: 0rem; margin-right: 1rem;">
                                    @foreach (var input in AP.ProgramStructure.ProgramStart)
                                    {
                                        if (input.Name == "Start")
                                        {
                                            continue;
                                        }
                                        <div class="bg-white dark:!bg-gray-800 px-2 py-2 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                            <InputList Id="input.Id" Type="input.Type" Value="AP.ProgramStructure.InputValues[input.Id]" IsList="input.IsList" Placeholdervalue="input.Name" SendbackValue="SetValue"></InputList>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="w-1/2 overflow-auto">
                            <p class="text-lg font-semibold">Outputs:</p>
                            @if (AP != null)
                            {
                                <div style="margin-top: 0rem;">
                                    @foreach (var output in ProgramOutput)
                                    {
                                        <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition" style="min-width: 100%;">
                                            <OutputDisplay OutputItem="@output" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                    else if (AP != null && AP.SupportsChat)
                    {
                        <div class="chat-modal-container">
                            <!-- Output box for chat -->
                            <div class="chat-modal-output">
                                <p class="text-lg font-semibold">Chat Outputs:</p>
                                @if (ProgramChatOutput.ContainsKey(AP.Id))
                                {
                                    @foreach (var output in ProgramChatOutput[AP.Id])
                                    {
                                        <OutputDisplay OutputItem="@output" />
                                    }
                                }
                            </div>

                            <!-- Input box for chat -->
                            <div class="chat-modal-input rounded-lg p-2 dark:bg-gray-700">
                                <p class="text-lg font-semibold">Chat Input:</p>
                                @foreach (var input in AP.ProgramStructure.ProgramStart)
                                {
                                    if (input.Name == "Start")
                                    {
                                        continue;
                                    }
                                    <div class="item-style p-2">
                                        <InputList Id="input.Id" Type="input.Type" Value="AP.ProgramStructure.InputValues[input.Id]" IsList="input.IsList" Placeholdervalue="input.Name" SendbackValue="SetValue"></InputList>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center justify-center p-6 pt-0 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 dark:bg-gray-600 outline-none">
                @if (AP != null && AP.SupportsChat)
                {
                    <button class="rounded text-sm px-4 py-2  w-24 bg-blue-600 hover:bg-blue-700 text-white mr-4 border-0"
                            @onclick="ClearOutput">
                        <span>Clear</span>
                    </button>
                }
                <button type="button" class="w-44 px-4 py-2 text-sm font-semibold text-white rounded border-0 @(isLoading ? "bg-gray-500 cursor-not-allowed" : isExecutionFailed ? "bg-red-600" : "bg-green-600 hover:bg-green-700") text-white"
                        @onclick="ExecuteProgram"
                        disabled="@isLoading">
                    @if (isLoading)
                    {
                        <span>Loading...</span>
                    }
                    else if (isExecutionFailed)
                    {
                        <span>Failed</span>
                    }
                    else
                    {
                        <span>Execute Program</span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsModalOpen { get; set; }

    [Parameter]
    public ProgramObject AP { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [CascadingParameter(Name = "Settokens")]
    protected EventCallback<Wallet> SetTokens { get; set; }

    List<object> ProgramOutput { get; set; } = new List<object>();
    Dictionary<Guid, List<object>> ProgramChatOutput { get; set; } = new Dictionary<Guid, List<object>>();

    public List<Session> sessions { get; set; } = new List<Session>();

    Session currentSession = new Session(); 

    private bool isLoading = false;
    private bool isExecutionFailed = false;

    protected override async Task OnParametersSetAsync()
    {
        if (AP != null)
        {
            foreach (var input in AP.ProgramStructure.ProgramStart)
            {
                if (!AP.ProgramStructure.InputValues.ContainsKey(input.Id))
                {
                    AP.ProgramStructure.InputValues[input.Id] = AP.ProgramStructure.InputValues.ContainsKey(input.Id)
                        ? AP.ProgramStructure.InputValues[input.Id]
                        : null;
                }
            }
            foreach (var input in AP.ProgramStructure.ProgramEnd)
            {
                if (!AP.ProgramStructure.OutputValues.ContainsKey(input.Id))
                {
                    AP.ProgramStructure.OutputValues[input.Id] = AP.ProgramStructure.OutputValues.ContainsKey(input.Id)
                        ? AP.ProgramStructure.OutputValues[input.Id]
                        : null;
                }
            }
        }
    }

    public void Open()
    {
        IsModalOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsModalOpen = false;
        StateHasChanged();
    }

    private void SetValue(InputItem inputItem)
    {
        AP.ProgramStructure.InputValues[inputItem.Id] = inputItem.Data;
    }

    private async Task ExecuteProgram()
    {

        var nonNullInputValues = AP.ProgramStructure.InputValues
            .Where(kvp => kvp.Value != null)
            .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);

        if (CascAuth != null)
        {
            var user = CascAuth.User;
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                var url = "";
                if(AP is CustomProgram customProgram2)
                {
                    url = $"Execute?programKey={customProgram2.ApiKey}&apiKey={userId}";
                }
                else if (AP is CustomBlockProgram customBlockProgram)
                {
                    url = $"Execute?programKey={customBlockProgram.Id}&apiKey={userId}&isCustomBlock=true";
                }
                if (true)
                {
                    url += $"&isTest=true";
                }
                if(AP.SupportsSessions)
                {
                    url += $"&sessionId={currentSession.SessionId}";
                }

                isLoading = true;
                isExecutionFailed = false;
                StateHasChanged();
                try
                {
                    var requestContent = new StringContent(System.Text.Json.JsonSerializer.Serialize(nonNullInputValues), Encoding.UTF8, "application/json");
                    var response = await Http.PostAsync(url, requestContent);
                    var responseContent = await response.Content.ReadAsStringAsync();

                    if (response.IsSuccessStatusCode)
                    {
                        ProgramOutput = JsonConvert.DeserializeObject<List<object>>(responseContent);
                        if (AP.SupportsChat && ProgramChatOutput.ContainsKey(AP.Id))
                        {
                            ProgramChatOutput[AP.Id].AddRange(ProgramOutput);
                        }
                        else if (AP.SupportsChat)
                        {
                            ProgramChatOutput[AP.Id] = ProgramOutput;
                        }
                    }
                    else
                    {
                        isExecutionFailed = true;
                    }
                }
                catch (Exception ex)
                {
                    isExecutionFailed = true;
                }
                finally
                {
                    isLoading = false;
                    if (isExecutionFailed)
                    {
                        StateHasChanged();
                        await Task.Delay(2000); // Wait for 3 seconds
                        isExecutionFailed = false; // Reset the error state
                    }
                }
                await GetTokens();
            }
        }
    }

    private void ClearOutput()
    {
        if (AP != null && ProgramChatOutput.ContainsKey(AP.Id))
        {
            ProgramChatOutput[AP.Id].Clear();
        }
    }

    private async Task GetTokens()
    {
        var user = CascAuth.User;
        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (!string.IsNullOrEmpty(userIdClaim) && Guid.TryParse(userIdClaim, out Guid userId))
            {
                try
                {
                    var response = await Http.PostAsJsonAsync<Guid>("Chat/Wallet/GetCreateWallet", userId);

                    if (response.IsSuccessStatusCode)
                    {
                        await SetTokens.InvokeAsync(await response.Content.ReadFromJsonAsync<Wallet>());
                    }
                }
                catch (HttpRequestException ex)
                {
                    // Handle or log the HTTP request exception here...
                    Console.WriteLine($"HTTP request exception: {ex.Message}");
                }
                catch (JsonException ex)
                {
                    // Handle or log the deserialization exception here...
                    Console.WriteLine($"Failed to deserialize response: {ex.Message}");
                }
            }
        }
    }

    private void setCurrentSession(Session session)
    {
        currentSession = session;
    }
}

<style>
    .chat-modal-container {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        height: calc(100% - 2rem);
        margin: 1rem 0;
        width: 100%;
    }

    .chat-modal-output {
@*         overflow-y: auto;
 *@        flex-grow: 1;
        margin-bottom: 1rem;
    }

    .chat-modal-input {
        flex-shrink: 0;
    }

    .chat-modal-button {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
    }
</style>