@using AiDesigner.Client.Components
@using AiDesigner.Shared.Data;
@using Newtonsoft.Json;
@using NodeBaseApi.Version2;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using static AiDesigner.Client.Components.InputList;
@inject HttpClient Http

<button @onclick="Open" class="px-4 py-2 text-white bg-green-600 hover:bg-green-700 rounded" type="button">
    Execute Program
</button>

<div class="@($"fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full {(IsModalOpen ? "block" : "hidden")}")" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="relative w-full max-w-2xl max-h-full mx-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600 dark:bg-gray-800">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Exacute Program
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" @onclick="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-gray-300 dark:bg-gray-600 dark:text-white">
                <div class="flex space-x-4" style="height: 30rem;">
                    <div class="w-1/2 border-r !border-gray-300 dark:!border-gray-500 overflow-auto">
                        @if (AP != null)
                        {
                            <h3 class="text-lg font-semibold">Inputs:</h3>
                            @if (AP != null)
                            {
                                <div style="margin-top: 0rem; margin-right: 1rem;">
                                    @foreach (var input in AP.ProgramStructure.ProgramStart)
                                    {
                                        if(input.Name == "Start")
                                        {
                                            continue;
                                        }
                                        <div class="bg-white dark:!bg-gray-800 px-4 py-2 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                            <InputList Id="input.Id" Type="input.Type" Value="AP.ProgramStructure.InputValues[input.Id]" IsList="input.IsList" Placeholdervalue="input.Name" SendbackValue="SetValue"></InputList>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="w-1/2 overflow-auto">
                        <p class="text-lg font-semibold">Outputs:</p>
                        @if (AP != null)
                        {
                            <div style="margin-top: 0rem;">
                                @foreach (var output in AP.ProgramStructure.ProgramEnd)
                                {
                                    if (output.Name == "End")
                                    {
                                        continue;
                                    }
                                    var index = AP.ProgramStructure.ProgramEnd.IndexOf(output) - 1;
                                    <div class="bg-white dark:!bg-gray-800 px-4 py-2 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                        @switch (output.Type)
                                        {
                                            case NodeBaseApi.Version2.Type.Picture:
                                                <p class="font-semibold">Type: Picture</p>
                                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                                {
                                                    <img src="@($"data:image/png;base64,{Convert.ToBase64String((byte[])ProgramOutput.ToArray()[index])}")" alt="@output.Name" />
                                                }
                                                break;
                                            case NodeBaseApi.Version2.Type.String:
                                                <p class="font-semibold">Type: Text</p>
                                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                                {
                                                    <p>@ProgramOutput.ToArray()[index]</p>
                                                }
                                                break;
                                            case NodeBaseApi.Version2.Type.Number:
                                                <p class="font-semibold">Type: Number</p>
                                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                                {
                                                    <p>@ProgramOutput.ToArray()[index]</p>
                                                }
                                                break;
                                            case NodeBaseApi.Version2.Type.Boolean:
                                                <p class="font-semibold">Type: Boolean</p>
                                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                                {
                                                    if (ProgramOutput.ToArray()[index].ToString() == "True")
                                                    {
                                                        <p>True</p>
                                                    }
                                                    else
                                                    {
                                                        <p>False</p>
                                                    }
                                                }
                                                break;
                                            case NodeBaseApi.Version2.Type.Audio:
                                                <p class="font-semibold">Type: Audio</p>
                                                if (ProgramOutput.Count() > 0 && ProgramOutput.ToArray()[index] != null)
                                                {
                                                    <audio controls>
                                                        <source src="@($"data:audio/wav;base64,{Convert.ToBase64String((byte[])ProgramOutput.ToArray()[index])}")" type="audio/wav">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                }
                                                break;
                                            default:
                                                <p>Unknown output type</p>
                                                break;
                                        }
                                    </div>
                                }
                            </div>
                        }                 
                    </div>
                </div>
            </div>            
            <!-- Modal footer -->
            <div class="flex items-center justify-center p-6 pt-0 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 dark:bg-gray-600 outline-none">
                <button type="button" class="px-4 py-2 text-sm font-semibold text-white bg-green-600 rounded border-0" @onclick="@ExecuteProgram">Exacute</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsModalOpen { get; set; }

    [Parameter]
    public ProgramObject AP { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [CascadingParameter(Name = "Settokens")]
    protected EventCallback<int> SetTokens { get; set; }

    List<object> ProgramOutput { get; set; } = new List<object>();
    //ApiService apiService = new ApiService("https://localhost:44313/");

    protected override async Task OnParametersSetAsync()
    {
        if (AP != null)
        {
            foreach (var input in AP.ProgramStructure.ProgramStart)
            {
                if (!AP.ProgramStructure.InputValues.ContainsKey(input.Id))
                {
                    AP.ProgramStructure.InputValues[input.Id] = AP.ProgramStructure.InputValues.ContainsKey(input.Id)
                        ? AP.ProgramStructure.InputValues[input.Id]
                        : null;
                }
            }
            foreach (var input in AP.ProgramStructure.ProgramEnd)
            {
                if (!AP.ProgramStructure.OutputValues.ContainsKey(input.Id))
                {
                    AP.ProgramStructure.OutputValues[input.Id] = AP.ProgramStructure.OutputValues.ContainsKey(input.Id)
                        ? AP.ProgramStructure.OutputValues[input.Id]
                        : null;
                }
            }
        }
    }

    public void Open()
    {
        IsModalOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsModalOpen = false;
        StateHasChanged();
    }

    private void SetValue(InputItem inputItem)
    {
        AP.ProgramStructure.InputValues[inputItem.Id] = inputItem.Data;
    }

    private async Task ExecuteProgram()
    {
        if (AP is CustomProgram customProgram)
        {
            var nonNullInputValues = customProgram.ProgramStructure.InputValues
                .Where(kvp => kvp.Value != null)
                .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
            //ProgramOutput = await apiService.ExecuteProgramAsync(customProgram.ApiKey, nonNullInputValues, "56a2d82a-5595-4a8f-b1fd-9a1482e02d20", null, true);

            if (CascAuth != null)
            {
                var user = CascAuth.User;
                var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
                if (Guid.TryParse(userIdClaim, out Guid userId))
                {
                    var url = "";
                    if(AP is CustomProgram customProgram2)
                    {
                        url = $"Execute?programKey={customProgram2.ApiKey}&apiKey={userId}";
                    }

                    if (true)
                    {
                        url += $"&isTest=true";
                    }

                    try
                    {
                        var response = await Http.PostAsJsonAsync(url, nonNullInputValues);
                        Console.WriteLine(response.Content.ReadAsStringAsync());

                        if (response.IsSuccessStatusCode)
                        {
                            ProgramOutput = await response.Content.ReadFromJsonAsync<List<object>>();
                        }
                        else
                        {
                            Console.Error.WriteLine($"Error: {response.StatusCode}");
                        }
                    }
                    catch (Exception ex)
                    {
                        Console.Error.WriteLine($"Exception: {ex.Message}");
                    }
                    await GetTokens();
                }
            }
        }
        else if (AP is CustomBlockProgram customBlockProgram)
        {

        }
    }

    private async Task GetTokens()
    {
        var user = CascAuth.User;
        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (!string.IsNullOrEmpty(userIdClaim) && Guid.TryParse(userIdClaim, out Guid userId))
            {
                try
                {
                    var response = await Http.PostAsJsonAsync<Guid>("Chat/Wallet/GetCreateWallet", userId);

                    if (response.IsSuccessStatusCode)
                    {
                        await SetTokens.InvokeAsync(await response.Content.ReadFromJsonAsync<int>());
                    }
                }
                catch (HttpRequestException ex)
                {
                    // Handle or log the HTTP request exception here...
                    Console.WriteLine($"HTTP request exception: {ex.Message}");
                }
                catch (JsonException ex)
                {
                    // Handle or log the deserialization exception here...
                    Console.WriteLine($"Failed to deserialize response: {ex.Message}");
                }
            }
        }
    }
}
