@using NodeBaseApi.Version2;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<button @onclick="Open" class="btn btn-primary px-6 py-3 text-lg font-semibold text-white bg-green-600 hover:bg-green-700 rounded-md" type="button">
    Exacute Program
</button>

<div class="@($"fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full {(IsModalOpen ? "block" : "hidden")}")" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="relative w-full max-w-2xl max-h-full mx-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600 dark:bg-gray-800">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Exacute Program
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" @onclick="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-gray-300 dark:bg-gray-600 dark:text-white">
                <div class="flex space-x-4" style="height: 30rem;">
                    <div class="w-1/2 border-r !border-gray-300 dark:border-gray-500 overflow-auto">
                        @if (AP is CustomProgram customProgram)
                        {
                            <h3 class="text-lg font-semibold">Inputs:</h3>
                            @if (customProgram != null)
                            {
                                <div style="margin-top: 0rem; margin-right: 1rem;">
                                    @foreach (var input in customProgram.ProgramStructure.ProgramStart)
                                    {
                                        if(input.Name == "Start")
                                        {
                                            continue;
                                        }
                                        <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                            @switch (input.Type)
                                            {
@*                                                 case NodeBaseApi.Version2.Type.Trigger:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Trigger</p>
                                                        <button class="bg-blue-500 dark:!bg-gray-800 hover:dark:!bg-gray-600 text-white w-full mt-2 p-2 rounded hover:bg-blue-600">
                                                            Trigger @input.Name
                                                        </button>
                                                    </div>
                                                    break; *@
                                                case NodeBaseApi.Version2.Type.String:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Text</p>
                                                        <input type="text" @onchange="@(e => UpdateValue(e, input.Id))"
                                                               class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0" placeholder="@input.Name" />
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Picture:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Picture</p>
                                                        <div>
                                                            <div class="flex items-center justify-center w-full">
                                                                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                                                        </svg>
                                                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                                        <p class="text-xs text-gray-500 dark:text-gray-400">PNG or JPG (MAX. 260x260px)</p>
                                                                    </div>
                                                                    <InputFile id="dropzone-file" class="hidden" accept=".png" OnChange="@(async (e) => await OnSingleFileChanged(e, input.Id))" />
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Number:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Number</p>
                                                        <input type="number" @onchange="@(e => UpdateValue(e, input.Id))"
                                                               class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0" placeholder="@input.Name" />
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Boolean:
                                                    <div class="mb-2">
                                                        <p class="font-semibold w-full">Type: Boolean</p>
                                                        <div class="mt-2 w-full flex justify-center">
                                                            <div class="w-72 cursor-pointer flex items-center justify-center">
                                                                <label for="@input.Id" class="flex items-center justify-center h-12 w-full">
                                                                    <input type="checkbox" id="@input.Id" @onchange="@(e => UpdateValue(e, input.Id))"
                                                                           class="w-6 h-6 accent-green-600 text-gray-600 bg-gray-100 border-gray-300 rounded focus:ring-gray-500 dark:focus:ring-gray-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Audio:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Audio</p>
                                                        <div>
                                                            <div class="flex items-center justify-center w-full">
                                                                <label for="audio-dropzone-file" class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:!bg-gray-600">
                                                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                                                        </svg>
                                                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                                        <p class="text-xs text-gray-500 dark:text-gray-400">MP3, WAV or other audio formats</p>
                                                                    </div>
                                                                    <InputFile id="audio-dropzone-file" class="hidden" accept=".mp3,.wav" OnChange="@(async (e) => await OnSingleAudioFileChanged(e, input.Id))" />
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    break;
                                                default:
                                                    <p>Unknown input type</p>
                                                    break;
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }
                        else if (AP is CustomBlockProgram customBlockProgram)
                        {
                            <h3 class="text-lg font-semibold">Inputs:</h3>
                            @if (customBlockProgram != null)
                            {
                                <div style="margin-top: 0rem; margin-right: 1rem;">
                                    @foreach (var input in customBlockProgram.ProgramStructure.ProgramStart)
                                    {
                                        if (input.Name == "Start")
                                        {
                                            continue;
                                        }
                                        <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                            @switch (input.Type)
                                            {
@*                                                 case NodeBaseApi.Version2.Type.Trigger:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Trigger</p>
                                                        <button class="bg-blue-500 dark:!bg-gray-800 hover:dark:!bg-gray-600 text-white w-full mt-2 p-2 rounded hover:bg-blue-600">
                                                            Trigger @input.Name
                                                        </button>
                                                    </div>
                                                    break;
 *@                                                case NodeBaseApi.Version2.Type.String:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Text</p>
                                                        <input type="text" @onchange="@(e => UpdateValue(e, input.Id))"
                                                               class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0" placeholder="@input.Name" />
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Picture:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Picture</p>
                                                        <div>
                                                            <div class="flex items-center justify-center w-full">
                                                                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                                                        </svg>
                                                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                                        <p class="text-xs text-gray-500 dark:text-gray-400">PNG or JPG (MAX. 260x260px)</p>
                                                                    </div>
                                                                    <InputFile id="dropzone-file" class="hidden" accept=".png" OnChange="@(async (e) => await OnSingleFileChanged(e, input.Id))" />
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Number:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Number</p>
                                                        <input type="number" @onchange="@(e => UpdateValue(e, input.Id))"
                                                               class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0" placeholder="@input.Name" />
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Boolean:
                                                    <div class="mb-2">
                                                        <p class="font-semibold w-full">Type: Boolean</p>
                                                        <div class="mt-2 w-full flex justify-center">
                                                            <div class="w-72 cursor-pointer flex items-center justify-center">
                                                                <label for="@input.Id" class="flex items-center justify-center h-12 w-full">
                                                                    <input type="checkbox" id="@input.Id" @onchange="@(e => UpdateValue(e, input.Id))"
                                                                           class="w-6 h-6 accent-green-600 text-gray-600 bg-gray-100 border-gray-300 rounded focus:ring-gray-500 dark:focus:ring-gray-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Audio:
                                                    <div class="mb-2">
                                                        <p class="font-semibold">Type: Audio</p>
                                                        <div>
                                                            <div class="flex items-center justify-center w-full">
                                                                <label for="audio-dropzone-file" class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:!bg-gray-600">
                                                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                                                        </svg>
                                                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                                        <p class="text-xs text-gray-500 dark:text-gray-400">MP3, WAV or other audio formats</p>
                                                                    </div>
                                                                    <InputFile id="audio-dropzone-file" class="hidden" accept=".mp3,.wav" OnChange="@(async (e) => await OnSingleAudioFileChanged(e, input.Id))" />
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    break;
                                                default:
                                                    <p>Unknown input type</p>
                                                    break;
                                            }
                                        </div>
                                    }
                                </div>

                            }
                        }
                    </div>
                    <div class="w-1/2 overflow-auto">
                        @if (AP is CustomProgram customProgram2)
                        {
                            <p class="text-lg font-semibold">Outputs:</p>
                            @if (customProgram2 != null)
                            {
                                <div style="margin-top: 0rem;">
                                    @foreach (var output in customProgram2.ProgramStructure.ProgramEnd)
                                    {
                                        if (output.Name == "End")
                                        {
                                            continue;
                                        }
                                        <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                            @switch (output.Type)
                                            {
                                                case NodeBaseApi.Version2.Type.Picture:
                                                    <p class="font-semibold">Type: Picture</p>
                                                    <img src="@($"data:image/png;base64,{Convert.ToBase64String((byte[])customProgram2.ProgramStructure.OutputValues[output.Id])}")" alt="@output.Name" />
                                                    break;
                                                case NodeBaseApi.Version2.Type.String:
                                                    <p class="font-semibold">Type: Text</p>
                                                    <p>@customProgram2.ProgramStructure.OutputValues[output.Id]</p>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Number:
                                                    <p class="font-semibold">Type: Number</p>
                                                    <p>@customProgram2.ProgramStructure.OutputValues[output.Id]</p>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Boolean:
                                                    <p class="font-semibold">Type: Boolean</p>
                                                    <p>@((bool)customProgram2.ProgramStructure.OutputValues[output.Id] ? "True" : "False")</p>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Audio:
                                                    <p class="font-semibold">Type: Audio</p>
                                                    <audio controls>
                                                        <source src="@($"data:audio/wav;base64,{Convert.ToBase64String((byte[])customProgram2.ProgramStructure.OutputValues[output.Id])}")" type="audio/wav">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                    break;
                                                default:
                                                    <p>Unknown output type</p>
                                                    break;
                                            }
                                        </div>
                                    }
                                </div>
                            }                        }
                        else if (AP is CustomBlockProgram customBlockProgram2)
                        {
                            <h3 class="text-lg font-semibold mb-4">Outputs:</h3>
                            @if (customBlockProgram2 != null)
                            {
                                <div style="margin-top: 0rem;">
                                    @foreach (var output in customBlockProgram2.ProgramStructure.ProgramEnd)
                                    {
                                        if (output.Name == "End")
                                        {
                                            continue;
                                        }
                                        <div class="bg-white dark:!bg-gray-800 p-4 rounded-lg mb-2 shadow hover:shadow-lg transition">
                                            @switch (output.Type)
                                            {
                                                case NodeBaseApi.Version2.Type.Picture:
                                                    <p class="font-semibold">Type: Picture</p>
                                                    <img src="@($"data:image/png;base64,{Convert.ToBase64String((byte[])customBlockProgram2.ProgramStructure.OutputValues[output.Id])}")" alt="@output.Name" />
                                                    break;
                                                case NodeBaseApi.Version2.Type.String:
                                                    <p class="font-semibold">Type: Text</p>
                                                    <p>@customBlockProgram2.ProgramStructure.OutputValues[output.Id]</p>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Number:
                                                    <p class="font-semibold">Type: Number</p>
                                                    <p>@customBlockProgram2.ProgramStructure.OutputValues[output.Id]</p>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Boolean:
                                                    <p class="font-semibold">Type: Boolean</p>
                                                    <p>@((bool)customBlockProgram2.ProgramStructure.OutputValues[output.Id] ? "True" : "False")</p>
                                                    break;
                                                case NodeBaseApi.Version2.Type.Audio:
                                                    <p class="font-semibold">Type: Audio</p>
                                                    <audio controls>
                                                        <source src="@($"data:audio/wav;base64,{Convert.ToBase64String((byte[])customBlockProgram2.ProgramStructure.OutputValues[output.Id])}")" type="audio/wav">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                    break;
                                                default:
                                                    <p>Unknown output type</p>
                                                    break;
                                            }
                                        </div>
                                    }
                                </div>
                            }                        }
                    </div>
                </div>
            </div>            
            <!-- Modal footer -->
            <div class="flex items-center justify-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 dark:bg-gray-600">
                <button type="button" class="btn btn-primary px-4 py-2 text-sm font-semibold text-white bg-green-600 hover:bg-green-700 border-0" @onclick="@HandleNextButtonClick">Exacute</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsModalOpen { get; set; }

    [Parameter]
    public ProgramObject AP { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (AP is CustomProgram customProgram)
        {
            foreach (var input in customProgram.ProgramStructure.ProgramStart)
            {
                if (!customProgram.ProgramStructure.InputValues.ContainsKey(input.Id))
                {
                    customProgram.ProgramStructure.InputValues[input.Id] = customProgram.ProgramStructure.InputValues.ContainsKey(input.Id)
                        ? customProgram.ProgramStructure.InputValues[input.Id]
                        : null;
                }
            }
            foreach (var input in customProgram.ProgramStructure.ProgramEnd)
            {
                if (!customProgram.ProgramStructure.OutputValues.ContainsKey(input.Id))
                {
                    customProgram.ProgramStructure.OutputValues[input.Id] = customProgram.ProgramStructure.OutputValues.ContainsKey(input.Id)
                        ? customProgram.ProgramStructure.OutputValues[input.Id]
                        : null;
                }
            }
        }
        else if (AP is CustomBlockProgram customBlockProgram)
        {
            foreach (var input in customBlockProgram.ProgramStructure.ProgramStart)
            {
                if (!customBlockProgram.ProgramStructure.InputValues.ContainsKey(input.Id))
                {
                    customBlockProgram.ProgramStructure.InputValues[input.Id] = customBlockProgram.ProgramStructure.InputValues.ContainsKey(input.Id)
                        ? customBlockProgram.ProgramStructure.InputValues[input.Id]
                        : null;
                }
            }
            foreach (var input in customBlockProgram.ProgramStructure.ProgramEnd)
            {
                if (!customBlockProgram.ProgramStructure.OutputValues.ContainsKey(input.Id))
                {
                    customBlockProgram.ProgramStructure.OutputValues[input.Id] = customBlockProgram.ProgramStructure.OutputValues.ContainsKey(input.Id)
                        ? customBlockProgram.ProgramStructure.OutputValues[input.Id]
                        : null;
                }
            }
        }
    }

    public void Open()
    {
        IsModalOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsModalOpen = false;
        StateHasChanged();
    }

    private async Task OnSingleFileChanged(InputFileChangeEventArgs e, Guid id)
    {
        var file = e.File;
        string[] imageTypes = new[] { "image/jpeg", "image/png" };

        if (file != null && imageTypes.Contains(file.ContentType))
        {
            // Resizing the image
            var resized = await file.RequestImageFileAsync(file.ContentType, 260, 260);

            var buffer = new byte[resized.Size];
            await using var stream = resized.OpenReadStream((int)resized.Size);
            await stream.ReadAsync(buffer, 0, (int)resized.Size);

            if (AP is CustomProgram customProgram)
            {
                customProgram.ProgramStructure.InputValues[id] = buffer;

            }
            else if (AP is CustomBlockProgram customBlockProgram)
            {
                customBlockProgram.ProgramStructure.InputValues[id] = buffer;
            }
        }
    }

    private async Task OnSingleAudioFileChanged(InputFileChangeEventArgs e, Guid inputId)
    {
        var file = e.File;
        if (file != null)
        {
            using (var ms = new MemoryStream())
            {
                await file.OpenReadStream().CopyToAsync(ms);
                var bytes = ms.ToArray();
                // Now 'bytes' is a byte array you can use.

                if (AP is CustomProgram customProgram)
                {
                    customProgram.ProgramStructure.InputValues[inputId] = bytes;

                }
                else if (AP is CustomBlockProgram customBlockProgram)
                {
                    customBlockProgram.ProgramStructure.InputValues[inputId] = bytes;
                }
            }
        }
    }

    private void UpdateValue(ChangeEventArgs e, Guid id)
    {
        if (AP is CustomProgram customProgram)
        {
            customProgram.ProgramStructure.InputValues[id] = e.Value?.ToString();

        }
        else if (AP is CustomBlockProgram customBlockProgram)
        {
            customBlockProgram.ProgramStructure.InputValues[id] = e.Value?.ToString();
        }
    }

    private async Task HandleNextButtonClick()
    {
        
    }
}