@using AiDesigner.Client.Components
@using AiDesigner.Client.Components.Comps
@using AiDesigner.Client.Modals;
@using AiDesigner.Shared.Data;
@using Newtonsoft.Json;
@using NodeBaseApi.Version2;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using static AiDesigner.Client.Components.Chat.InputList;
@inject HttpClient Http

<Dropdown IsDark="@IsDark" Selected="@(selectedSession?.SessionName ?? string.Empty)" width="w-48">
    @if (sessions != null && sessions.Count() != 0)
    {
        @foreach (var session in sessions)
        {
            <button @onclick="@(() => SelectOption(session.SessionName))"
                    class="button-container block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 flex justify-between items-center @(selectedSession != null && selectedSession.SessionName == session.SessionName ? "bg-gray-600" : "") dark:hover:bg-gray-600">

                <!-- Session Name with ellipsis overflow -->
                <span class="session-name">@session.SessionName</span>

                <!-- Close button (Initially hidden but shows on hover) -->
                <span class="close-button ml-4">
                    <button @onclick="@(() => RemoveSession(session))" @onclick:stopPropagation="true" class="px-2 rounded-full text-white text-lg">x</button>
                </span>

            </button>
        }
    }
    {
    @if (wallet.SubscriptionTier == 0 && (totalSessions != 5 || totalSessions !> 5))
    {
        <button @onclick="@addSession.Open" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600">Create New Session</button>
    }
    else if (wallet.SubscriptionTier == 1 && (totalSessions != 20 || totalSessions! > 20))
    {
        <button @onclick="@addSession.Open" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600">Create New Session</button>
    }
    else if (wallet.SubscriptionTier == 2 && (totalSessions != 50 || totalSessions! > 50))
    {
        <button @onclick="@addSession.Open" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600">Create New Session</button>
    }

</Dropdown>

<AiDesigner.Client.Modals.AddSession @ref="addSession" ProgramId="@ProgramId" OnNewSessionCreated="HandleSessionCreated" />

<style>
    /* styles.css or wherever your styles are defined */

    .button-container {
        position: relative;
    }

        .button-container:hover .close-button {
            opacity: 1 !important;
        }

    .close-button {
        opacity: 0;
        transition: opacity 0.2s;
    }

    .session-name {
        flex-grow: 1;
        max-width: calc(100% - 50px); /* adjust the value as necessary to account for the width of the close button and other elements */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@code {
    [Parameter]
    public string ProgramId { get; set; }

    [Parameter]
    public EventCallback<Session> SelectSessions { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [Parameter]
    public bool IsDark { get; set; }

    [CascadingParameter(Name = "Wallet")]
    public Wallet wallet { get; set; }

    public List<Session> sessions { get; set; } = new List<Session>();
    public Session selectedSession { get; set; } = new Session { SessionName = "Session" };

    int totalSessions { get; set; }

    AddSession addSession = new AddSession();

    protected override async Task OnInitializedAsync()
    {
        await GetUserSessions();
        await GetUserTotalSessionsCount();
    }

    // protected override async Task OnParametersSetAsync()
    // {
    //     await GetUserSessions();
    // }

    private async Task SelectOption(string sessionName)
    {
        selectedSession = sessions.FirstOrDefault(s => s.SessionName == sessionName);
        await SelectSessions.InvokeAsync(selectedSession);
    }

    private void HandleSessionCreated(Session newSession)
    {
        sessions.Add(newSession);
    }

    private async Task RemoveSession(Session session)
    {
        var response = await Http.DeleteAsync($"Chat/Session/Delete/{session.SessionId}");
        if (response.IsSuccessStatusCode)
        {
            sessions.Remove(session);
        }
    }

    private async Task GetUserSessions()
    {
        if (CascAuth != null && ProgramId != null)
        {
            var user = CascAuth.User;
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                try
                {
                    // Construct the URL with query parameters
                    var url = $"Chat/Session/GetUserSessions?userId={userId}&programId={ProgramId}";

                    try
                    {
                        var response = await Http.GetAsync(url);
                        Console.WriteLine(await response.Content.ReadAsStringAsync());
                        if (response.IsSuccessStatusCode)
                        {
                            var json = await response.Content.ReadAsStringAsync();
                            sessions = JsonConvert.DeserializeObject<List<Session>>(json);
                        }
                        else
                        {
                            Console.WriteLine($"Failed to get user sessions: {response.StatusCode}");
                        }
                    }
                    catch (HttpRequestException ex)
                    {
                        Console.WriteLine($"Request error: {ex.Message}");
                    }
                }
                catch (HttpRequestException ex)
                {
                    Console.WriteLine($"HTTP request exception: {ex.Message}");
                }
                catch (JsonException ex)
                {
                    Console.WriteLine($"Failed to deserialize response: {ex.Message}");
                }
            }
        }
    }

    private async Task GetUserTotalSessionsCount()
    {
        if (CascAuth != null)
        {
            var user = CascAuth.User;
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                try
                {
                    // Construct the URL with query parameters
                    var url = $"Chat/Session/GetUserTotalSessions?userId={userId}";

                    try
                    {
                        var response = await Http.GetAsync(url);
                        Console.WriteLine(await response.Content.ReadAsStringAsync());
                        if (response.IsSuccessStatusCode)
                        {
                            var json = await response.Content.ReadAsStringAsync();
                            // Assuming the endpoint returns an integer
                            totalSessions = JsonConvert.DeserializeObject<int>(json);
                        }
                        else
                        {
                            Console.WriteLine($"Failed to get total sessions count: {response.StatusCode}");
                        }
                    }
                    catch (HttpRequestException ex)
                    {
                        Console.WriteLine($"Request error: {ex.Message}");
                    }
                }
                catch (HttpRequestException ex)
                {
                    Console.WriteLine($"HTTP request exception: {ex.Message}");
                }
                catch (JsonException ex)
                {
                    Console.WriteLine($"Failed to deserialize response: {ex.Message}");
                }
            }
        }
    }

}
