@using AiDesigner.Client.Components.Comps
@using AiDesigner.Shared;
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManagers
@using AiDesigner.Shared.Data;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json.Serialization;
@using NodeBaseApi.Version2;
@using System.Security.Claims;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject HttpClient Http;
@using Microsoft.AspNetCore.Components.Authorization;
@using Newtonsoft.Json;
@using AiDesigner.Client.Pages.Documents;

<CascadingValue Value="@AuthState" Name="CascAuth">
<CascadingValue Value="@EAPs" Name="EAPs">
    <CascadingValue Value="@APs" Name="APs">
        <CascadingValue Value="@AP" Name="AP">
            <div class="page h-screen flex">
                @if (Title == "home" || Title == "library" || Title == "statistics")
                {
                    <div class="flex-none w-48">
                        <NavMenu />
                    </div>
                }
                else if (Title.Contains("documentation"))
                {
                    <div class="flex-none w-48">
                        <DocNavMenu />
                    </div>
                }
                <main class="flex-1 flex flex-col">

                    <div class="flex bg-gray-100">
                        @if(Title == "editor")
                        {
                            <div class="text-lg top-row px-3 py-2 dark:!bg-gray-800 border-0 w-48" style="padding-left: 1rem !important; padding-top: 0.9rem !important;">
                                <div class="container mx-auto sm:px-4">
                                    <a class="text-gray-800 dark:text-white font-bold no-underline" style="text-decoration-line: none !important;" href="">NodeNestor</a>
                                </div>
                            </div>
                        }

                        @* Should documentation seen top nav menu? *@
                        @if (Title != "home" && Title != "library" && Title != "editor" && Title != "statistics" && !Title.Contains("documentation"))
                        {

                            <div class="text-lg top-row px-3 py-2 dark:!bg-gray-800 border-0 w-48" style="padding-left: 1rem !important; padding-top: 0.9rem !important;">
                                <div class="container mx-auto sm:px-4">
                                    <a class="text-gray-800 dark:text-white font-bold no-underline" style="text-decoration-line: none !important;" href="">NodeNestor</a>
                                </div>
                            </div>

                            <TopNavMenu/>
                        }
                        @if (Title.Contains("documentation"))
                        {
                            <TopNavMenu />
                        }

                        <div style="display: flex; justify-content: flex-end; align-items: center; height: 100%;" class="top-row auth dark:!bg-gray-700 text-gray-800 dark:text-white flex-grow">

                            <!-- This is your conditional content for tutorials. -->
                            @if (CurrentTutorial != null)
                            {
                                <TutorialPopup completeTutorial="Completetutorial" settTutorial="SetTutorial" tutorials="@analytics.tutorials" tutorial="@CurrentTutorial"></TutorialPopup>
                            }

                            @if (AuthState != null && AuthState.User.Identity != null && AuthState.User.Identity.IsAuthenticated )
                            {
                                <!-- Token Count -->
                                <div class="group bg-gray-100 hover:bg-white dark:!bg-gray-700 hover:dark:!bg-gray-600 p-1 rounded-lg text-white mx-4 items-center relative ">
                                    <a href="/paymentoptions" class="cursor-pointer block text-white hover:text-white px-1">
                                        <span class="dark:!text-white text-black">Tokens: @(CurrentTokens.Tokens + CurrentTokens.BoughtTokens)</span>
                                    </a>
                                    <div class="absolute hidden group-hover:block bg-gray-100 dark:bg-gray-700 mt-1 p-1 w-32 rounded-md -ml-4 dark:!text-white text-black" style="z-index:9999">
                                        <div class="px-1 py-1">
                                            @if (CurrentTokens.SubscriptionTier == 1)
                                            {
                                                <p>Profesional: 8000 t/d </p>
                                            }
                                            else if (CurrentTokens.SubscriptionTier == 2)
                                            {
                                                <p>Casual: 2000 t/d </p>
                                            }
                                            else
                                            {
                                                <p>Free: 500 t/d </p>
                                            }
                                        </div>
                                        <div class="px-1 py-1">
                                            Daily: @CurrentTokens.Tokens
                                        </div>
                                        <div class="px-1 py-1">
                                            Extra: @CurrentTokens.BoughtTokens
                                        </div>
                                    </div>
                                </div>
                            }


                            <!-- Toggle Dark Mode -->
                            <label class="relative inline-flex items-center cursor-pointer border-0">
                                <input type="checkbox" @bind="isDarkMode" @bind:event="onchange" @onclick="ToggleDarkMode" class="sr-only peer">
                                <div class="w-11 h-6 bg-gray-200 rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-600"></div>
                            </label>

                            <!-- LoginDisplay Component -->
                            <LoginDisplay />

                        </div>
                    </div>

                    @if (Title == "library" || Title == "editor")
                    {
                        <div class="bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-white">
                            <div id="menu">
                                <ul>
                                    <li class="@(AP == null ? "selected" : "") group" @onclick="ResetAP">
                                        Library
                                    </li>
                                    @foreach (var CAP in APs)
                                    {
                                        <li class="@(AP == CAP ? "selected" : "") group" @onclick="() => SetAP(CAP)">
                                            <div class="flex">
                                                <div style="overflow: hidden;" class="mr-0">
                                                    @CAP.Name
                                                </div>
                                                <span class="project-remove px-1 py-0.5 text-sm font-semibold cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-500 rounded-full hidden justify-self-end ml-auto" @onclick="(() => RemoveProject(CAP))" @onclick:stopPropagation @onmouseover:stopPropagation>
                                                    X
                                                </span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    <article class="flex-1 overflow-y-auto p-4 bg-white-100 dark:bg-gray-600 text-gray-800 dark:text-white">
                        <AuthorizeView Roles="Administrator">
                            <Authorized>
                                <CascadingValue Value="@CurrentTokens" Name="Wallet">
                                    <CascadingValue Value="@workshopArticles" Name="WorkshopArticles">
                                        <CascadingValue Value="@setTutorial" Name="setTutorial">
                                            <CascadingValue Value="@CurrentTutorial" Name="currentTutorial">
                                                <CascadingValue Value="@setAnalytic" Name="setAnalytics"> 
                                                    <CascadingValue Value="@analytics" Name="analytics"> 
                                                        <CascadingValue Value="@addApiKey" Name="addApiKey">
                                                            <CascadingValue Value="@apiKeys" Name="ApiKeys">
                                                                <CascadingValue Value="@setPassingArticle" Name="SetPassingArticle">
                                                                    <CascadingValue Value="@passingArticle" Name="passingArticle">
                                                                        <CascadingValue Value=@setTokens Name="Settokens">
                                                                            <CascadingValue Value=@NewAps Name="NewAps">
                                                                                @Body
                                                                            </CascadingValue>
                                                                        </CascadingValue>
                                                                    </CascadingValue>
                                                                </CascadingValue>
                                                            </CascadingValue>
                                                        </CascadingValue>
                                                    </CascadingValue>
                                                </CascadingValue>
                                            </CascadingValue>
                                        </CascadingValue>
                                    </CascadingValue>
                                </CascadingValue>
                            </Authorized>
                            <NotAuthorized>
                                <AiDesigner.Client.Modals.BetaModal />
                                @Body
                            </NotAuthorized>
                        </AuthorizeView>
                        @if (Title != "home" && Title != "library" && Title != "editor" && Title != "documentation" && Title != "admin-page" && Title != "statistics" && Title != "chat")
                        {
                            <Footer></Footer>
                        }
                    </article>
                </main>
            </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
</CascadingValue>

<RadzenComponents />

<style>
    .footer {
        background-color: #f1f1f1;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .container .row .col-md-4 {
        margin: 15px 0;
    }

        .container .row .col-md-4 h5 {
            font-weight: bold;
        }

        .container .row .col-md-4 ul {
            list-style: none;
            padding: 0;
        }


/*     sdasdasdasd
 */
    .nav-container {
        display: flex;
        justify-content: space-between; /* Optional: to space the items out evenly */
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        gap: 10px; /* Add some gap between items */
    }

    .top-row[b-83yhc3crg9] .container a {
        margin-left: 0rem !important;
    }

    #menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 28px;
    }

    #menu li {
        display: inline-block;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        margin-right: 5px;
        padding-left: 5px;
        margin: 4px;
        border-color: darkslategray;
        width: 100px;
        max-width: 100px;
        max-height: 25px;
        overflow: hidden;
    }

        #menu li:hover {
            background-color: white; /* Lighter Gray */
            color: #000; /* Black Text */
        }

    #menu .selected {
        background-color: white; /* Dark Blue */
        color: #000; /* White Text */
    }

    .dark #menu .selected {
        background-color: #353535; /* Lighter Very Dark Gray */
        color: #fff; /* White Text */
    }

    .dark #menu li:hover {
        background-color: #353535; /* Darker Gray */
        color: #fff; /* White Text */
    }


/*     #menu li:hover {
        background-color: lightgray;
        color: white;
    }

    #menu .selected {
        background-color: darkslategray;
        color: white;
    }

    .dark #menu .selected {
        background-color: #3B4252;
        color: white;
    }

    .dark #menu li:hover {
        background-color: #4A5568;
        color: white;
    } */

    #menu li:hover .project-remove,
    #menu .selected .project-remove {
        display: block;
    }
</style>

@code {
    public string Title { get; set; } = "";
    public List<ProgramObject> APs = new List<ProgramObject>();
    public List<ProgramObject> EAPs = new List<ProgramObject>();
    public ProgramObject AP = null;
    private string _currentUri;
    public WorkshopArticle passingArticle;
    private List<ApiKey> apiKeys = new List<ApiKey>();

    public List<WorkshopArticle> workshopArticles { get; set; }

    public ChacheAnalytics analytics = new ChacheAnalytics();

    public Tutorial CurrentTutorial;

    public Wallet CurrentTokens { get; set; } = new Wallet();

    public AuthenticationState AuthState { get; set; }

    private bool isDarkMode = true;

    public EventCallback<Tutorial> setTutorial => EventCallback.Factory.Create<Tutorial>(this, SetTutorial);

    public EventCallback<ChacheAnalytics> setAnalytic => EventCallback.Factory.Create<ChacheAnalytics>(this, SetAnalytic);

    public EventCallback<ProgramObject> NewAps => EventCallback.Factory.Create<ProgramObject>(this, AddAps);

    public EventCallback<Wallet> setTokens => EventCallback.Factory.Create<Wallet>(this, SetTokens);

    public EventCallback<ProgramObject> setAp => EventCallback.Factory.Create<ProgramObject>(this, SetAP);

    public EventCallback<WorkshopArticle> setPassingArticle => EventCallback.Factory.Create<WorkshopArticle>(this, SetPassingArticle);

    public EventCallback<ApiKey> addApiKey => EventCallback.Factory.Create<ApiKey>(this, AddApiKey);

    public void SetAnalytic(ChacheAnalytics Analytics)
    {
        if (Analytics.last100Calls != null)
        {
            analytics.last100Calls = Analytics.last100Calls;
        }
        if (Analytics.programItems != null)
        {
            analytics.programItems = Analytics.programItems;
        }
        if (Analytics.sourceItems != null)
        {
            analytics.sourceItems = Analytics.sourceItems;
        }
        if (Analytics.workshopArticles != null)
        {
            analytics.workshopArticles = Analytics.workshopArticles;
        }
        if (Analytics.newsArticle != null)
        {
            analytics.newsArticle = Analytics.newsArticle;
        }
        if (Analytics.tutorials != null)
        {
            analytics.tutorials = Analytics.tutorials;
        }
    }

    public async Task SetTutorial(Tutorial tutorial)
    {
        shouldRender = false;
        CurrentTutorial = tutorial;
        await Task.Delay(20);
        shouldRender = true;
    }

    public void Completetutorial(Tutorial tutorial)
    {
        analytics.tutorials[tutorial.TutorialId -1] = tutorial;
    }

    public void SetTokens(Wallet tokens)
    {
        CurrentTokens = tokens;
    }

    public void AddAps(ProgramObject ap)
    {
        if(!APs.Contains(ap))
        {
            APs.Add(ap);
            SetAP(ap);
        }
        else
        {
            SetAP(ap);
        }
    }

    public void SetPassingArticle(WorkshopArticle article)
    {
        passingArticle = article;
    }

    public void AddApiKey(ApiKey apiKey)
    {
        apiKeys.Add(apiKey);
    }

    protected override async Task OnInitializedAsync()
    {
        Http.Timeout = TimeSpan.FromMinutes(10);
        //NavigationManagers.LocationChanged += HandleLocationChanged;
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
        await UpdatePrograms();
        await GetTokens();
        await GetApiKeys();
        await UpdateVault();

        // var uri = new Uri(NavigationManagers.Uri); // Get the current URL
        // if (uri.AbsolutePath == "/library" || uri.AbsolutePath == "/editor" || uri.AbsolutePath == "/marketplace")
        // {
        //     shouldRender = true;
        // }
        // else
        // {
        //     shouldRender = false;
        // }
    }

    private void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        AuthState = task.Result;
        UpdatePrograms();
    }

    private async Task UpdatePrograms()
    {
        AuthState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = AuthState.User;
        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (!string.IsNullOrEmpty(userIdClaim) && Guid.TryParse(userIdClaim, out Guid userId))
            {
                try
                {
                    var response = await Http.GetAsync($"Programs/user/{userId}");
                    if (response.IsSuccessStatusCode)
                    {
                        var responseContent = await response.Content.ReadAsStringAsync();
                        var settings = new JsonSerializerSettings
                            {
                                TypeNameHandling = TypeNameHandling.Auto,
                                Converters = new List<JsonConverter> { new TupleConverter(), new BlockJsonConverter() },
                                ContractResolver = new DefaultContractResolver
                                {
                                    NamingStrategy = new CamelCaseNamingStrategy()
                                },
                                ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
                                ObjectCreationHandling = ObjectCreationHandling.Replace
                            };
                        var userPrograms = JsonConvert.DeserializeObject<List<ProgramObject>>(responseContent, settings);
                        EAPs = userPrograms.ToList();
                        Console.WriteLine(EAPs.Count);   // this happens but it dont show in the pagese under it just when the page is changed 
                    }
                    else
                    {
                        // Read the response content which should contain the error message
                        var errorMessage = await response.Content.ReadAsStringAsync();
                        Console.WriteLine($"HTTP request failed with status code: {response.StatusCode}, message: {errorMessage}");
                    }

                }
                catch (HttpRequestException ex)
                {
                    // Handle or log the HTTP request exception here...
                    Console.WriteLine($"HTTP request exception: {ex.Message}");
                }
                catch (JsonException ex)
                {
                    // Handle or log the deserialization exception here...
                    Console.WriteLine($"Failed to deserialize response: {ex.Message}");
                }
            }
        }
    }

    private async Task GetTokens()
    {
        AuthState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = AuthState.User;
        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (!string.IsNullOrEmpty(userIdClaim) && Guid.TryParse(userIdClaim, out Guid userId))
            {
                try
                {
                    var response = await Http.PostAsJsonAsync<Guid>("Chat/Wallet/GetCreateWallet", userId);

                    if (response.IsSuccessStatusCode)
                    {
                        CurrentTokens = await response.Content.ReadFromJsonAsync<Wallet>();
                    }
                }
                catch (HttpRequestException ex)
                {
                    // Handle or log the HTTP request exception here...
                    Console.WriteLine($"HTTP request exception: {ex.Message}");
                }
                catch (JsonException ex)
                {
                    // Handle or log the deserialization exception here...
                    Console.WriteLine($"Failed to deserialize response: {ex.Message}");
                }
            }
        }
    }

    private async Task GetApiKeys()
    {
        if (AuthState != null)
        {
            var user = AuthState.User;
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
            if (Guid.TryParse(userIdClaim, out Guid userId))
            {
                var response = await Http.GetAsync($"Chat/ApiKey/GetByUserId/{userId}");
                if (response.IsSuccessStatusCode)
                {
                    try
                    {
                        apiKeys = await response.Content.ReadFromJsonAsync<List<ApiKey>>();
                    }
                    catch (Exception ex)
                    {
                        Console.WriteLine(ex.Message);
                    }
                }
            }
        }
    }

    public async Task SetEAPs()
    {
        var user = AuthState.User;
        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.FindFirst(ClaimTypes.NameIdentifier);
            if (userIdClaim != null && Guid.TryParse(userIdClaim.Value, out Guid userId))
            {
                var userPrograms = await Http.GetFromJsonAsync<IEnumerable<ProgramObject>>($"Programs/user/{userId}");
                EAPs = userPrograms.ToList();
            }
        }
    }

    public void RemoveProject(ProgramObject projectToRemove)
    {
        APs.Remove(projectToRemove);

        if (AP == projectToRemove)
        {
            AP = null;
            NavigationManagers.NavigateTo("library");
        }
    }

    public void SetAP(ProgramObject ap)
    {
        AP = ap;
        NavigationManagers.NavigateTo("editor");
    }

    public void ResetAP()
    {
        AP = null;

        NavigationManagers.NavigateTo("library");
    }

    private async Task ToggleDarkMode()
    {
        shouldRender = false;
        isDarkMode = !isDarkMode;
        await JSRuntime.InvokeVoidAsync("toggleDarkMode");
        await Task.Delay(20);
        shouldRender = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var newUri = NavigationManagers.Uri;

        if (_currentUri != newUri)
        {
            _currentUri = newUri;
            UpdateTitleFromUri();
        }
    }

    private void UpdateTitleFromUri()
    {
        Title = NavigationManagers.ToBaseRelativePath(NavigationManagers.Uri).ToLower();
        StateHasChanged();
    }

    private bool shouldRender = true;
    protected override bool ShouldRender()
    {
        return shouldRender;
    }

    //Vault
    public async Task UpdateVault()
    {
        if (AuthState?.User != null && workshopArticles == null)
        {
            var user = AuthState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value;
                if (Guid.TryParse(userIdClaim, out Guid userId))
                {
                    try
                    {
                        var response = await Http.GetAsync($"Workshop/get-articles-connected-to-user/{userId}");
                        if (response.IsSuccessStatusCode)
                        {
                            // Deserialize the response to the expected data model.
                            workshopArticles = (await response.Content.ReadFromJsonAsync<IEnumerable<WorkshopArticle>>()).ToList();
                        }
                        else
                        {
                            Console.WriteLine($"The call failed with status code {response.StatusCode}");
                        }
                    }
                    catch (HttpRequestException ex)
                    {
                        Console.WriteLine($"Request exception: {ex.Message}");
                    }
                }
            }
        }
    }

    // private async void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    // {
    //     shouldRender = true;

    //     // Await the delay to ensure the UI has time to update
    //     await Task.Delay(20);

    //     var uri = new Uri(e.Location);

    //     // Checking if the new URI matches specific paths
    //     if (uri.AbsolutePath == "/library" || uri.AbsolutePath == "/editor" || uri.AbsolutePath == "/workshop")
    //     {
    //         StateHasChanged();
    //     }
    //     else
    //     {
    //         StateHasChanged();
    //         shouldRender = false;
    //     }
    // }

    // public void Dispose()
    // {
    //     // It's important to unsubscribe from the event to prevent memory leaks
    //     NavigationManagers.LocationChanged -= HandleLocationChanged;
    // }
}


